@use "../../styles/abstracts" as *;

.wp-block-cwps-sticky-images {
	$sticky-height: calc(100vh - var(--capitola-admin-blockEditorAdminbar-height) - var(--capitola-admin-blockEditorToolbar-height) - var(--capitola-admin-blockEditorFooter-height));

	&__imagewrap {
		@include mq("medium") {
			top: 0;
			height: $sticky-height;

			&.is-example {
				height: 800px;
			}
		}
	}

	&__body-section {
		@include mq("medium") {
			height: $sticky-height;
		}
	}
}
