@use "../../styles/abstracts" as *;

.wp-block-capitola-sticky-images {
	$sticky-height: calc(100dvh - var(--capitola-header-height) - var(--wp-admin--admin-bar--height, 0px));
	$sticky-top: calc(var(--capitola-header-height) + var(--wp-admin--admin-bar--height, 0px));

	--sticky-height: calc(100dvh - var(--capitola-header-height) - var(--wp-admin--admin-bar--height, 0px));
	--sticky-top: calc(var(--capitola-header-height) + var(--wp-admin--admin-bar--height, 0px));

	:has(.wp-block-capitola-anchor-nav) & {
		$sticky-height: calc(100dvh - var(--capitola-header-height) - var(--wp-admin--admin-bar--height, 0px) - var(--capitola-anchor-menu-height));
		$sticky-top: calc(var(--capitola-header-height) + var(--wp-admin--admin-bar--height, 0px) + var(--capitola-anchor-menu-height));

		--sticky-height: calc(100dvh - var(--capitola-header-height) - var(--wp-admin--admin-bar--height, 0px) - var(--capitola-anchor-menu-height));
		--sticky-top: calc(var(--capitola-header-height) + var(--wp-admin--admin-bar--height, 0px) + var(--capitola-anchor-menu-height));
	}

	position: relative;
	background: var(--capitola-color-background);
	padding-top: var(--wp--custom--spacing--block-padding);

	&.--layout-full {
		padding-top: 0;
	}

	@include mq("medium") {
		padding-top: 0;
	}

	&__width {
		display: flex;
		position: relative;
		gap: var(--wp--custom--spacing--block-section-row-gap) var(--wp--custom--spacing--block-section-column-gap);
		flex-flow: column;

		@include mq("medium") {
			flex-flow: row;

			.--intro-left & {
				flex-flow: row-reverse;
			}
		}
	}

	&__image-column {
		display: none;

		@include mq("medium") {
			display: block;
			position: relative;
			flex: 1 0 0;

			.--has-fade-transition & {
				position: sticky;
				top: var(--sticky-top);
				height: var(--sticky-height);
			}

			.--layout-full & {
				flex: 0 0 50%;
			}
		}
	}

	&__imagewrap {
		display: flex;
		position: relative;
		width: 100%;
		overflow: hidden;
		flex-flow: column;

		@include mq("medium") {
			position: sticky;
			top: var(--sticky-top);
			height: var(--sticky-height);
			padding-block: var(--wp--custom--spacing--block-padding);

			.--layout-full & {
				padding: 0;
			}

			.--has-fade-transition & {
				position: absolute;
				top: 0;

				&:not(:first-child) {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	}

	&__imageratio {
		display: flex;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		align-items: center;
		justify-content: center;
		//background-color: red;

		img {
			position: absolute;
			width: 100%;
			height: 100%;

			object: {
				fit: cover;
				position: var(--capitola-objectPosition);
			}
		}

		.--full-image & {
			height: unset;
			object-fit: contain;

			img {
				position: unset;
				object-fit: contain;
			}
		}
	}

	&__mobile-imageratio {
		display: flex;
		position: relative;
		width: 100%;
		overflow: hidden;
		border-radius: $radius-med;
		align-items: center;
		justify-content: center;
		aspect-ratio: 16 / 9;
		margin: 0;

		.--layout-full & {
			border-radius: 0;
		}

		@include mq("medium") {
			display: none;
		}

		img {
			position: absolute;
			width: 100%;
			height: 100%;

			object: {
				fit: cover;
				position: var(--capitola-objectPosition);
			}
		}
	}

	&__imageratio,
	&__mobile-imageratio {

		.--has-small-radius & {
			border-radius: $radius-med;
		}

		.--has-medium-radius & {
			border-radius: $radius-large;
		}

		.--has-large-radius & {
			border-radius: $radius-xlarge;
		}
	}

	&__image-caption {
		position: absolute;
		inset: auto 0 0 0;
		padding: var(--wp--custom--spacing--xxlarge) var(--wp--custom--spacing--medium) var(--wp--custom--spacing--medium);
		background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
		color: var(--wp--preset--color--white);
		text-align: center;
	}

	&__body-column {
		display: flex;
		position: relative;
		flex-flow: column;
		gap: var(--wp--custom--spacing--block-padding);

		@include mq("medium") {
			gap: unset;
			flex: 1 0 0;

			.--layout-full & {
				padding-right: var(--wp--custom--wide-size-padding);
			}

			.--layout-full.--intro-left & {
				padding: {
					left: var(--wp--custom--wide-size-padding);
					right: 0;
				}
			}
		}
	}

	&__body-section {
		display: flex;
		flex-flow: column;
		gap: var(--wp--custom--spacing--block-section-row-gap);
		justify-content: flex-start;
		background: var(--capitola-color-background);

		&:last-child {
			padding-bottom: var(--wp--custom--spacing--block-padding);
		}

		@include mq("medium") {
			position: sticky;
			height: var(--sticky-height);
			padding-block: var(--wp--custom--spacing--block-padding);
			justify-content: center;

			.--has-fade-transition & {
				min-height: var(--sticky-height);
				height: unset;
			}

			.--align-top &,
			.--full-image & {
				justify-content: flex-start;
			}
		}
	}

	&.--has-scroll-transition {

		@include mq("medium") {

			.wp-block-capitola-body-text {
				height: 100%;
			}

			.wp-block-capitola-body-text__grid {
				display: flex;
				flex-flow: column;
				overflow: hidden;
			}

			.wp-block-capitola-body-text__intro {
				overflow: auto;

				&::-webkit-scrollbar {
					width: 8px;
					background: transparent;
					padding-left: 2px;
				}

				&::-webkit-scrollbar-thumb {
					background: {
						image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, var(--capitola-color-link) 40%, var(--capitola-color-link) 60%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 60%);
						clip: padding-box;
					}

					transition: background-image $transition;

					&:hover {
						background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, var(--capitola-color-link) 30%, var(--capitola-color-link) 70%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 70%);
					}
				}

				&::-webkit-scrollbar-track {
					background: transparent;
				}
			}
		}
	}

	.wp-block-capitola-body-text {
		justify-content: flex-start;
		flex: 0 0 calc(50% - (var(--wp--custom--spacing--block-padding) / 2));

		@include mq("medium") {
			justify-content: center;
		}
	}

	&.--layout-full { /* stylelint-disable-line no-duplicate-selectors */

		.wp-block-capitola-body-text {
			padding: {
				left: var(--wp--style--root--padding-left);
				right: var(--wp--style--root--padding-right);
			}

			@include mq("medium") {
				padding: {
					left: 0;
					right: 0;
				}
			}
		}
	}
}
