@use "functions" as *;
@use "mixins" as *;
@use "variables" as *;

@mixin headline-xxl {
	font: {
		family: var(--wp--preset--font-family--heading);
		size: var(--wp--custom--font-size--hl-xxl);
		weight: var(--wp--custom--font-weight--hl);
	}
	line-height: var(--wp--custom--line-height--hl);
	color: var(--capitola-color-headline);
	margin-block: 0;
}

@mixin headline-xl {
	font: {
		family: var(--wp--preset--font-family--heading);
		size: var(--wp--custom--font-size--hl-xl);
		weight: var(--wp--custom--font-weight--hl);
	}
	line-height: var(--wp--custom--line-height--hl);
	color: var(--capitola-color-headline);
	margin-block: 0;
}

@mixin headline-l {
	font: {
		family: var(--wp--preset--font-family--heading);
		size: var(--wp--custom--font-size--hl-l);
		weight: var(--wp--custom--font-weight--hl);
	}
	line-height: var(--wp--custom--line-height--hl);
	color: var(--capitola-color-headline);
	margin-block: 0;
}

@mixin headline-m {
	font: {
		family: var(--wp--preset--font-family--heading);
		size: var(--wp--custom--font-size--hl-m);
		weight: var(--wp--custom--font-weight--hl);
	}
	line-height: var(--wp--custom--line-height--hl);
	color: var(--capitola-color-headline);
	margin-block: 0;
}

@mixin headline-s {
	font: {
		family: var(--wp--preset--font-family--heading);
		size: var(--wp--custom--font-size--hl-s);
		weight: var(--wp--custom--font-weight--hl);
	}
	line-height: var(--wp--custom--line-height--hl);
	color: var(--capitola-color-headline);
	margin-block: 0;
}

@mixin headline-xs {
	font: {
		family: var(--wp--preset--font-family--heading);
		size: var(--wp--custom--font-size--hl-xs);
		weight: var(--wp--custom--font-weight--hl);
	}
	line-height: var(--wp--custom--line-height--hl);
	color: var(--capitola-color-headline);
	margin-block: 0;
}

@mixin regular-text {
	font-size: var(--wp--custom--font-size--p-m);
	line-height: var(--wp--custom--line-height--p);
}

@mixin micro-text {
	font-size: var(--wp--custom--font-size--p-s);
}

@mixin eyebrow {
	font: {
		size: to-rem(14px);
		weight: var(--wp--custom--font-weight--bold);
	}
	line-height: line-height(16px, 14px);
	letter-spacing: to-rem(1px);
	color: var(--capitola-color-body);
	// letter-spacing: ;
	text-transform: uppercase;
	margin-bottom: 0;
}

@mixin wizzy {
	color: var(--capitola-color-body);

	p,
	ul,
	ol,
	dl,
	img,
	table {
		margin: {
			top: var(--wp--custom--spacing--open-content);
			bottom: 0;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	ul,
	ol {
		padding-left: var(--wp--custom--spacing--small);
	}
}
