@use "../../abstracts" as *;

.wc-block-grid {
	padding: {
		top: var(--cwps-spacing-large);
		bottom: var(--cwps-spacing-large);
	}
}

.wc-block-grid__products {
	gap: var(--cwps-spacing-xsmall);
	display: grid;
	margin: 0;

	.wc-block-grid.has-1-columns &,
	.wc-block-grid.has-2-columns &,
	.wc-block-grid.has-3-columns &,
	.wc-block-grid.has-4-columns &,
	.wc-block-grid.has-5-columns &,
	.wc-block-grid.has-6-columns & {
		grid: {
			template-columns: 1fr;
			template-rows: auto;
		}
	}

	@include mq("medium") {

		.wc-block-grid.has-1-columns &,
		.wc-block-grid.has-2-columns & {
			grid-template-columns: 1fr 1fr;
		}

		.wc-block-grid.has-3-columns & {
			grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		}

		.wc-block-grid.has-4-columns &,
		.wc-block-grid.has-5-columns &,
		.wc-block-grid.has-6-columns & {
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		}
	}
}

.wc-block-grid__product {
	--cwps-color-accent: var(--cwps-color-tile-primary);
	--cwps-color-body: var(--cwps-color-tile-body);
	--cwps-color-background: var(--cwps-color-tile-background);
	display: flex;
	color: var(--cwps-color-body);
	background-color: var(--cwps-color-background);
	border: none;
	text-align: left;
	border-radius: 6px;
	flex-direction: column;

	.wc-block-grid.has-3-columns &,
	.wc-block-grid.has-4-columns &,
	.wc-block-grid.has-5-columns &,
	.wc-block-grid.has-6-columns & {
		max-width: unset;
	}

	.wc-block-grid.has-5-columns &,
	.wc-block-grid.has-6-columns & {
		max-width: unset;
		font-size: var(--cwps-p-fontSize);
	}

	.wc-block-grid__product-link {
		display: block;
		@include unstyle-link;

		&:hover,
		&:active,
		&:focus {

			.wc-block-grid__product-image {

				img {
					scale: 1.1;
				}
			}
		}
	}

	.wc-block-grid__product-price {
		padding: {
			left: var(--cwps-spacing-small);
			right: var(--cwps-spacing-small);
		}
		margin: {
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	.wc-block-grid__product-image {
		display: block;
		background-color: var(--wp--preset--color--white);
		border: 1px solid var(--cwps-color-background);
		border-bottom: none;
		border-radius: 5px 5px 0 0;
		overflow: hidden;

		&:not(.wc-block-components-product-image) {
			margin-bottom: var(--cwps-spacing-small);
		}

		img {
			width: 100%;
			height: unset;
			aspect-ratio: 1;
			object-fit: contain;
			transition: scale $transition;
		}
	}

	.wc-block-grid__product-title {
		@include headline-s;
		color: var(--cwps-color-tile-primary);
		padding: {
			left: var(--cwps-spacing-small);
			right: var(--cwps-spacing-small);
		}
		margin-bottom: var(--cwps-spacing-small);

		a {
			text-decoration: none;
			color: inherit;

			&:hover,
			&:active,
			&:focus {
				text-decoration: underline;
				color: inherit;
			}
		}
	}

	.wc-block-grid__product-rating {
		display: none;
	}

	.wc-block-grid__product-add-to-cart {
		padding: {
			left: var(--cwps-spacing-small);
			right: var(--cwps-spacing-small);
		}
		margin: {
			top: var(--cwps-spacing-small);
			left: 0 !important;
			right: 0 !important;
		}
		align-self: flex-start;
		flex-grow: 1;
		display: flex;
	}

	.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
		@include button-tertiary {
			color: var(--cwps-color-body);
			margin-top: auto;
			justify-content: flex-start;
			overflow: visible;
		}

		&::after {
			background: var(--cwps-color-body);
		}

		&:hover,
		&:active,
		&:focus {
			color: var(--cwps-color-tile-primary);

			&::after {
				background: var(--cwps-color-tile-primary);
			}
		}
	}
}
