@use "../../abstracts" as *;

.wc-block-cart {

	table {

		&.wc-block-cart-items {

			th {
				text-align: left; // new style
			}

			td {
				margin: 0; //override
			}
		}
	}

	&.is-large {

		.wc-block-cart-items {
			border-bottom: 1px solid var(--cwps-color-accent);

			th {

				&:last-child {
					padding-right: 0;
				}
			}

			td {
				border-top: 1px solid var(--cwps-color-accent);

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}

	&-item {

		&__image {

			a {
				display: block;
				text-decoration: none;
				aspect-ratio: 1;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}

		&__quantity {
			display: flex;
			flex-wrap: wrap;
			gap: var(--cwps-spacing-xsmall);
			align-self: unset;
			padding: {
				right: 0;
				top: 0;
			}
		}
	}
}

table.wc-block-cart-items {

	.wc-block-cart-items__row {

		.wc-block-components-product-name {
			@include wc-block-components-product-name;
		}

		.wc-block-components-quantity-selector {
			margin: 0;
		}

		.wc-block-cart-item__quantity {

			.wc-block-cart-item__remove-link {
				@include micro-text;
				@include hyperlink;

				&:hover,
				&:active,
				&:focus {
					text-decoration: underline;
					text-decoration-thickness: 3px;
				}
			}
		}
	}

	.wc-block-cart-item__wrap {
		display: flex;
		flex-direction: column;
		gap: var(--cwps-spacing-xsmall);
	}
}

.wc-block-components-product-details {
	@include micro-text;

	&.wc-block-components-product-details {
		margin: 0;
	}
}

.wc-block-components-product-badge {
	display: block;
	border: none;
	padding: 0;
	@include micro-text;
}

.wc-block-components-quantity-selector {

	input.wc-block-components-quantity-selector__input {
		font: {
			size: var(--cwps-p-s-fontSize);
			family: $font-primary;
			weight: 400;
		}
	}

	.wc-block-components-quantity-selector__button {

		&:not(:disabled) {
			opacity: 1;

			&:hover,
			&:focus,
			&:active {
				color: var(--cwps-color-button);
			}
		}
	}
}

.wc-block-components-totals-item {

	.is-large .wc-block-components-sidebar & {
		padding: {
			left: 0;
			right: 0;
		}
	}
}

.wc-block-components-totals-coupon {

	.is-large .wc-block-components-sidebar & {
		padding: {
			left: 0;
			right: 0;
		}
	}
}

.wc-block-components-totals-coupon__form {
	align-items: center;
}

.wc-block-components-totals-shipping__change-address__link {

	.is-large.wc-block-cart .wc-block-components-sidebar & {
		@include hyperlink;
	}
}

.wc-block-components-shipping-calculator {

	.is-large.wc-block-cart .wc-block-components-sidebar & {
		padding: {
			left: 0;
			right: 0;
		}
	}
}

.wc-block-components-shipping-rates-control__package:not(.wc-block-components-panel) {

	.is-large.wc-block-cart .wc-block-components-sidebar & {
		padding: {
			left: 0;
			right: 0;
		}
	}
}

.wc-block-components-product-metadata {
	@include micro-text;
}

.wc-block-components-totals-footer-item {

	.wc-block-components-totals-item__label {
		font-size: unset;
	}

	.wc-block-components-totals-item__value {
		font-size: unset;
	}
}

.wc-block-components-totals-discount {

	.wc-block-components-totals-item__value {
		color: unset;
	}
}

.wc-block-components-totals-item__description {
	@include micro-text;
}

.wc-block-components-radio-control {

	&__option {
		display: flex;
		gap: var(--cwps-spacing-small);
		align-items: center;
		padding: 0;
	}

	&__option-layout {
		display: flex;
		gap: var(--cwps-spacing-xsmall);
		justify-content: space-between;
	}

	&__label-group {
		@include micro-text;
	}

	&__description {
		@include micro-text;
	}

	.wc-block-components-radio-control__input {
		@include woo-radio {
			top: unset;
			left: unset;
			transform: unset;
			flex-shrink: 0;
			margin: 0;
		}
	}
}

.wc-block-components-totals-wrapper {
	border-top: 1px solid var(--cwps-color-accent);

	.wp-block-woocommerce-cart-order-summary-totals-block & {

		&:not(:empty) {
			padding-bottom: 16px;
		}
	}
}

.wc-block-components-product-rating-stars {
	display: none;
}

.wc-block-components-product-image {

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		aspect-ratio: 1;

		&:hover,
		&:focus,
		&:active {

			img {
				scale: 1.1;
			}
		}
	}

	img {
		transition: scale $transition;
		max-height: 100%;
		max-width: 100%;
		width: auto;
		height: auto;
	}
}

.wc-block-components-button.wp-element-button {
	@include woo-button;
}

.wp-block-woocommerce-cart-order-summary-totals-block {
	border-top: 1px solid var(--cwps-color-accent);
}

.wp-block-woocommerce-cart {

	.wp-block-woocommerce-cart-cross-sells-block {
		margin-top: var(--cwps-spacing-small);

		.wp-block-heading {
			margin-bottom: var(--cwps-spacing-small);
		}

		> div {
			display: flex;
			flex-wrap: wrap;
		}

		.cross-sells-product {
			--cwps-color-accent: var(--cwps-color-tile-primary);
			--cwps-color-body: var(--cwps-color-tile-body);
			--cwps-color-background: var(--cwps-color-tile-background);
			display: flex;
			background-color: var(--cwps-color-background);
			border-radius: 6px;
			margin-right: var(--cwps-spacing-xsmall);
			padding: 0;
			flex: {
				basis: 275px;
				direction: column;
			}
			text-align: left;
			gap: var(--cwps-spacing-small);

			div {

				.wc-block-components-product-image {
					background-color: var(--wp--preset--color--white);
					border: 1px solid var(--cwps-color-background);
					border-bottom: none;
					border-radius: 5px 5px 0 0;
					margin-bottom: 0;
				}

				.wp-block-cart-cross-sells-product__product-title {
					@include headline-s;
					margin-top: var(--cwps-spacing-small);
					padding: {
						left: var(--cwps-spacing-small);
						right: var(--cwps-spacing-small);
					}
				}

				.wc-block-components-product-name {
					@include unstyle-link;
					text-decoration: none;

					&:hover,
					&:focus,
					&:active {
						color: var(--cwps-color-body);
					}
				}

				.wc-block-components-product-price {
					color: var(--cwps-color-body);
					margin-top: var(--cwps-spacing-xsmall);
					padding: {
						left: var(--cwps-spacing-small);
						right: var(--cwps-spacing-small);
					}
				}
			}

			.wc-block-components-product-button {
				margin-top: auto;
				align-items: flex-start;
				padding: {
					left: var(--cwps-spacing-small);
					right: var(--cwps-spacing-small);
					bottom: var(--cwps-spacing-small);
				}

				&__button {
					@include button-tertiary {
						overflow: visible;

						&:not(:hover):not(:focus):not(:active) {
							color: var(--cwps-color-body);
						}
					}

					&:not(:hover):not(:focus):not(:active) {

						&::after {
							background: var(--cwps-color-body);
						}
					}
				}
			}
		}
	}

	// move these out
	.wp-block-woocommerce-empty-cart-block {

		.wp-block-heading {
			margin-bottom: var(--cwps-spacing-small);
		}
	}
}
