@use "../../styles/abstracts" as *;

.wp-block-capitola-accordion {

	&__list {
		display: flex;
		flex-direction: column;
	}
}

.wp-block-capitola-accordion-item {
	border-bottom: 1px solid var(--capitola-color-accent);

	&__headline {
		display: flex;
		gap: var(--wp--custom--spacing--small);
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin: var(--wp--custom--spacing--small) 0;
		color: var(--capitola-color-link);

		&::after {
			content: "";
			flex: 0 0 var(--wp--custom--font-size--hl-s);
			height: var(--wp--custom--font-size--hl-s);
			background: var(--capitola-color-link);
			mask: url(#{$image_path}symbols/fa-plus.svg) center / contain no-repeat;
		}

		.--is-open & {

			&::after {
				mask-image: url(#{$image_path}symbols/fa-minus.svg);
			}
		}
	}

	&:first-of-type {

		.wp-block-capitola-accordion-item__headline {
			margin-top: 0;
		}
	}

	button.wp-block-capitola-accordion-item__headline {
		@include unstyle-button;
		font-size: var(--wp--custom--font-size--hl-s);
		text-align: left;
		transition: color $transition;

		&::after {
			transition: background-color $transition, scale $transition;
		}

		&:hover,
		&:active,
		&:focus-visible {
			color: var(--capitola-color-link-hover);

			&::after {
				background: var(--capitola-color-link-hover);
				scale: 1.2;
			}
		}
	}

	&__body {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows $transition;

		.--is-open & {
			grid-template-rows: 1fr;
			margin-bottom: var(--wp--custom--spacing--small);
		}
	}

	&__body-wrap {
		overflow: hidden;
	}
}
