@use "../../styles/abstracts" as *;

.wp-block-capitola-two-image-block {
	@include block-outer-wrap;

	&__width {
		@include block-inner-wrap-50-50($reverse-mobile: true, $allow-right-intro: true);

		@include mq("50-50") {
			justify-content: start;
			align-items: center;

			&.--align-top {
				align-items: flex-start;
			}

			.wp-block-capitola-body-text {
				flex-grow: 1;
			}
		}
	}

	&__imagecol {
		display: grid;
		grid: repeat(20, 1fr) / repeat(20, 1fr);

		&.--aspect-ratio-1 {
			aspect-ratio: 1;
		}

		&.--aspect-ratio-16-9 {
			aspect-ratio: 16/9;
		}

		&.--aspect-ratio-4-3 {
			aspect-ratio: 4/3;
		}

		&.--aspect-ratio-3-2 {
			aspect-ratio: 3/2;
		}

		&.--aspect-ratio-2-3 {
			aspect-ratio: 2/3;
		}

		&.--aspect-ratio-3-4 {
			aspect-ratio: 3/4;
		}

		&.--aspect-ratio-9-16 {
			aspect-ratio: 9/16;
		}

		@include mq("50-50") {
			flex: 0 0 var(--capitola-flex-basis);
		}
	}

	&__rear-image,
	&__front-image {
		display: flex;
		position: relative;
		flex-direction: column;
		overflow: hidden;
		margin: 0;
		align-items: center;
		justify-content: center;

		&.--has-small-radius {

			img {
				border-radius: $radius-med;
			}
		}

		&.--has-medium-radius {

			img {
				border-radius: $radius-large;
			}
		}

		&.--has-large-radius {

			img {
				border-radius: $radius-xlarge;
			}
		}
	}

	&__rear-image {

		.--rear-position-top-left & {
			grid: {
				row: 1 / span var(--image-height);
				column: 1 / span var(--image-width);
			}
		}

		.--rear-position-top-right & {
			grid: {
				column: span var(--image-width) / 21;
				row: 1 / span var(--image-height);
			}
		}

		.--rear-position-bottom-left & {
			grid: {
				column: 1 / span var(--image-width);
				row: span var(--image-height) / 21;
			}
		}

		.--rear-position-bottom-right & {
			grid: {
				column: span var(--image-width) / 21;
				row: span var(--image-height) / 21;
			}
		}
	}

	&__front-image {

		.--rear-position-top-left & {
			grid: {
				column: span var(--image-width) / 21;
				row: span var(--image-height) / 21;
			}
		}

		.--rear-position-top-right & {
			grid: {
				column: 1 / span var(--image-width);
				row: span var(--image-height) / 21;
			}
		}

		.--rear-position-bottom-left & {
			grid: {
				column: span var(--image-width) / 21;
				row: 1 / span var(--image-height);
			}
		}

		.--rear-position-bottom-right & {
			grid: {
				column: 1 / span var(--image-width);
				row: 1 / span var(--image-height);
			}
		}
	}

	img {
		object: {
			fit: cover;
			position: var(--capitola-objectPosition);
		}

		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	figcaption {
		text-align: left;
		font-size: var(--capitola-p-s-fontSize);
		width: 100%;
		margin: var(--capitola-spacing-xsmall) 0 0;
	}
}