@use "../../styles/abstracts" as *;

.wp-block-capitola-side-image {
	background: var(--capitola-color-background);
	padding-top: var(--capitola-blockPadding);
	padding-bottom: var(--capitola-blockPadding);

	&:has(.--side-bg-img),
	&.--has-animation {
		overflow: hidden;
	}

	&:has(.--side-bg-img) {
		padding-top: 0;

		@include mq("50-50") {
			padding-bottom: 0;
		}
	}

	&__width {
		display: flex;
		position: relative;
		flex-flow: column;
		gap: var(--capitola-blockPadding);

		@include mq("50-50") {
			flex-flow: row;

			&.--inset-img.--align-top {
				align-items: flex-start;
			}

			&.--side-bg-img {
				min-height: 400px;
			}

			&.--inset-img {
				justify-content: start;
				align-items: center;
			}

			&.--has-left-intro {
				flex-flow: row-reverse;
			}
		}
	}

	&__imagewrap {

		.--side-bg-img & {
			height: 320px;
			overflow: hidden;

			@include mq("50-50") {
				position: relative;
				height: unset;
			}
		}

		@include mq("50-50") {
			flex: 0 0 50%;

			&.--sticky {
				position: sticky;
				top: calc(var(--capitola-header-height) + var(--capitola-blockPadding) + var(--wp-admin--admin-bar--height, 0px));
			}
		}
	}

	&__imageratio {
		position: relative;
		width: 100%;
		overflow: hidden;
		margin: 0;
	}

	&__iframe-wrap {
		display: block;
		overflow: hidden;
	}

	video {
		width: 100%;
	}

	iframe {
		width: 100%;
		height: 100%;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		object: {
			fit: cover;
			position: var(--capitola-objectPosition);
		}
	}

	.--side-bg-img {

		img {

			@include mq("50-50") {
				position: absolute;
			}
		}

		.--img-parallax {

			img {
				height: 150%;
			}
		}
	}

	&__width { /* stylelint-disable-line no-duplicate-selectors */

		.wp-block-capitola-body-text {

			@include mq("50-50") {
				flex-basis: 50%;
			}
		}

		&.--side-bg-img {

			.wp-block-capitola-body-text {
				padding: 0 var(--capitola-gutter);

				@include mq("50-50") {
					padding: var(--capitola-blockPadding) var(--capitola-wideSize-padding) var(--capitola-blockPadding) 0;
				}
			}

			&.--has-left-intro {

				.wp-block-capitola-body-text {

					@include mq("50-50") {
						padding: {
							left: var(--capitola-wideSize-padding);
							right: 0;
						}
					}
				}
			}
		}
	}

	figcaption {
		@include micro-text;
		color: var(--capitola-color-body);
		margin: var(--capitola-spacing-xsmall) 0 0;
	}

	.--has-small-radius {
		border-radius: $radius-med;
	}

	.--has-medium-radius {
		border-radius: $radius-large;
	}

	.--has-large-radius {
		border-radius: $radius-xlarge;
	}

	.--has-arch-radius {
		border-radius: 50% 50% 0 0;
	}

	.--16-9 {
		aspect-ratio: 16/9;
	}

	.--4-3 {
		aspect-ratio: 4/3;
	}

	.--3-2 {
		aspect-ratio: 3/2;
	}

	.--1 {
		aspect-ratio: 1;
	}
}
