.wp-block-capitola-simple-spacer {

	&.is-style-xxlarge {
		height: var(--wp--custom--spacing--xxlarge);
	}

	&.is-style-xlarge {
		height: var(--wp--custom--spacing--large);
	}

	&.is-style-large {
		height: var(--wp--custom--spacing--medium);
	}

	&.is-style-medium {
		height: var(--wp--custom--spacing--small);
	}

	&.is-style-small {
		height: var(--wp--custom--spacing--small);
	}
}
