@use "../abstracts" as *;

.cwps-product-tabs {

	.nav-tab-wrapper {
		padding: {
			left: 0 !important;
			bottom: 0 !important;
		}
	}

	&__repeater {
		counter-reset: css-counter 0;
	}

	&__repeater-row {
		border-bottom: 1px solid #e5e5e5;

		&:last-child {
			border-bottom: none;
		}

		&.--inline {
			display: flex;
			align-items: flex-end;
			border: none;

			.form-field {
				flex: {
					basis: 0;
					grow: 1;
				}
			}
		}
	}

	&__repeater-row-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;

		h3 {
			counter-increment: css-counter 1;

			&::after {
				content: " " counter(css-counter);
			}
		}
	}

	&__repeater-row-buttons {
		display: flex;
		gap: 8px;

		button {
			@include unstyle-button;
			position: relative;
			width: 24px;
			height: 24px;
			border-radius: 50%;

			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				background: #fff;
				mask: {
					image: url(~/assets/svgs/arrows/fa-chevron-up.svg);
					repeat: no-repeat;
					size: 60%;
					position: center;
				}
			}

			&.--delete {
				background-color: #b32d2e;

				&::after {
					mask: {
						image: url(~/assets/svgs/symbols/fa-xmark.svg);
						size: 40%;
					}
				}
			}

			&.--up,
			&.--down {
				background-color: #2271b1;
			}

			&.--down {

				&::after {
					mask-image: url(~/assets/svgs/arrows/fa-chevron-down.svg);
				}
			}
		}

		.--inline & {
			margin-bottom: 1em;
		}
	}

	&__add-button {
		margin: {
			top: 16px !important;
			left: auto !important;
		}
	}
}
