@use "../abstracts" as *;

.wc-block-order-confirmation-status {
	padding-top: var(--cwps-spacing-xlarge);
}

.woocommerce-order-confirmation-address-wrapper {

	&:last-child {
		padding-bottom: var(--cwps-spacing-xlarge);
	}
}

.wc-block-order-confirmation-shipping-address,
.wc-block-order-confirmation-billing-address {
	margin-top: var(--cwps-spacing-small);
}
