@use "../../styles/abstracts" as *;

.wp-block-capitola-link-list {
	display: flex;
	flex-flow: column;
	list-style: none;
	align-items: flex-start;
	margin-top: var(--wp--custom--spacing--open-content);
	padding: 0;

	&__link {
		@include hyperlink;
	}

	.editor-styles-wrapper & {
		padding: 0;
	}
}
