@use "../../styles/abstracts" as *;

.wp-block-cwps-nav-mega-nav {

	@include mq("large") {

		.wp-block-cwps-nav-sublink__link {
			padding: 0;
		}

		&:hover {

			.wp-block-cwps-nav-mega-nav__sub-menu {
				grid-template-rows: 1fr;
			}
		}
	}

	&__sub-menu {
		display: grid;
		overflow-y: hidden;
		flex: 0 1 100%;
		grid-template-rows: 0fr;
		transition: grid-template-rows $transition;

		&.--is-open {
			grid-template-rows: 1fr;
		}

		&:has(a:focus) {
			grid-template-rows: 1fr;
		}

		&:has(a:active) {
			grid-template-rows: 1fr;
		}

		@include mq("large") {
			position: absolute;
			inset: 80px 0 auto 50%;
			width: 100vw;
			transform: translateX(-50%);
			background: var(--capitola-color-background);
			transition: grid-template-rows var(--capitola-dropdownSpeed);

			&:has(a:focus) {
				grid-template-rows: 1fr;
			}

			&:has(a:active) {
				grid-template-rows: 1fr;
			}
		}
	}

	&__sub-menu-height {
		overflow: hidden;

		@include mq("large") {
			@include wideSize;
			display: grid;
			grid: auto auto 1fr / 1fr auto;
			column-gap: var(--capitola-spacing-medium);
			background: var(--capitola-color-background);
			border-radius: 0 0 $radius-med $radius-med;
		}
	}

	&__head {
		display: none;

		@include mq("large") {
			display: block;
			margin: var(--capitola-spacing-medium) 0 0;
			grid: {
				column: 1;
				row: 1;
			}
		}
	}

	&__headline {

		+ .wp-block-cwps-nav-mega-nav__intro {
			margin-top: var(--capitola-spacing-small);
		}
	}

	.wp-block-cwps-nav-mega-nav__intro {
		width: var(--capitola-contentSize-padded);
	}

	&__sub-menu-items {
		list-style: none;
		margin: 0;
		padding: 0;

		@include mq("large") {
			display: grid;
			grid: {
				auto-flow: column;
				row: 2;
				column: 1;
			}
			gap: var(--capitola-spacing-xsmall) var(--capitola-spacing-large);
			align-self: start;
			justify-self: start;
			margin: var(--capitola-spacing-small) 0 var(--capitola-spacing-medium);

			&.--row-limit-1 {
				grid-template-rows: repeat(1, auto);
			}

			&.--row-limit-2 {
				grid-template-rows: repeat(2, auto);
			}

			&.--row-limit-3 {
				grid-template-rows: repeat(3, auto);
			}

			&.--row-limit-4 {
				grid-template-rows: repeat(4, auto);
			}

			&.--row-limit-5 {
				grid-template-rows: repeat(5, auto);
			}

			&.--row-limit-6 {
				grid-template-rows: repeat(6, auto);
			}

			&.--row-limit-7 {
				grid-template-rows: repeat(7, auto);
			}

			&.--row-limit-8 {
				grid-template-rows: repeat(8, auto);
			}

			&.--row-limit-9 {
				grid-template-rows: repeat(9, auto);
			}

			&.--row-limit-10 {
				grid-template-rows: repeat(10, auto);
			}

			.wp-block-cwps-nav-sublink {

				&:first-child {
					padding-top: 0;
				}

				&:last-child {
					padding-bottom: 0;
				}
			}
		}
	}

	&__image {
		display: none;

		@include mq("large") {
			display: block;
			position: relative;
			width: 300px;
			overflow: hidden;
			grid: {
				column: 2;
				row: 1 / 4;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
