@use "@capitola/styles/abstracts" as *;

.wp-block-capitola-fixed-background {
	$sticky-height: calc(100dvh - var(--capitola-admin-blockEditorAdminbar-height) - var(--capitola-admin-blockEditorToolbar-height) - var(--capitola-admin-blockEditorFooter-height));

	position: relative;
	overflow: hidden;

	&__img {
		height: calc(100dvh + 48px) !important;
	}
}
