@use "../abstracts" as *;

.wp-block-buttons {

	.wp-block-button {

		&__link {
			@include button-primary;
		}

		&.is-style-secondary {

			.wp-block-button__link {
				border: 2px solid var(--capitola-color-button);
				color: var(--capitola-color-button);
				padding: var(--wp--custom--spacing--xsmall) var(--wp--custom--spacing--small);
				background: transparent;

				&::after {
					background: var(--capitola-color-button);
				}
			}
		}

		&.is-style-tertiary {

			.wp-block-button__link {
				border: none;
				color: var(--capitola-color-button);
				padding: 0;
				background: transparent;

				&::after {
					background: var(--capitola-color-button);
				}
			}
		}
	}
}
