@use "@capitola/styles/abstracts" as *;

.wp-block-image {

	&.is-style-small-radius {

		img {
			border-radius: var(--wp--preset--border-radius--small);
		}
	}

	&.is-style-medium-radius {

		img {
			border-radius: var(--wp--preset--border-radius--medium);
		}
	}

	&.is-style-large-radius {

		img {
			border-radius: var(--wp--preset--border-radius--large);
		}
	}

	figcaption {
		@include text-s;
		color: var(--capitola-color-body);
		margin: var(--wp--custom--spacing--xsmall) 0 0;
	}
}
