@use "functions" as *;
@use "variables" as *;
@use "mixins" as *;

$field-border: var(--wp--custom--forms--field--border-width) solid var(--wp--custom--forms--field--border-color);
$focus-shadow: var(--wp--custom--forms--field--focus-shadow-size) var(--wp--custom--forms--field--focus-shadow-color);

@mixin base-field {
	font: {
		family: var(--wp--custom--forms--field--font-family);
		size: var(--wp--custom--forms--field--font-size);
	}
	line-height: var(--wp--custom--forms--field--line-height);
	margin: 0;
	color: var(--wp--custom--forms--field--color);
	border: $field-border;
	border-radius: var(--wp--custom--forms--field--border-radius);
	outline: none;
	padding: var(--wp--custom--forms--field--padding);
	transition: var(--wp--custom--forms--field--transition);
	background: var(--wp--custom--forms--field--background);
	@content;

	&::placeholder {
		color: var(--wp--custom--forms--field--color);
		opacity: 0.7;
	}

	&:focus,
	&:hover,
	&:active {
		box-shadow: $focus-shadow;
	}

	&:user-invalid {
		border-color: $error_color;
	}

	&:required:invalid {
		//border-color: $error_color;
	}

	&:invalid {
		// border: 1px solid blue;
	}
}

@mixin form-label {
	line-height: var(--wp--custom--forms--label--line-height);
	font: {
		weight: var(--wp--custom--forms--label--font-weight);
		size: var(--wp--custom--forms--label--font-size);
	}
	letter-spacing: var(--wp--custom--forms--label--letter-spacing);
	color: var(--wp--custom--forms--label--color);
}

@mixin text-field {
	@include base-field {
		max-width: 100%;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		@content;
	}

	&[type="number"] {
		padding-right: 0;
	}
}

@mixin radio-button {
	display: inline-flex;
	position: relative;
	border: $field-border;
	outline: none;
	transition: var(--wp--custom--forms--field--transition);
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	cursor: pointer;
	width: var(--wp--custom--forms--radio-cb--input-size);
	height: var(--wp--custom--forms--radio-cb--input-size);
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	padding: 0;
	@content;

	&::before {
		content: "";
		display: block;
		width: 8px;
		height: 8px;
		transform: scale(0);
		background: var(--wp--custom--forms--field--color);
		border-radius: 50%;
		transition: transform var(--wp--custom--transitions--default);
	}

	&:hover,
	&:focus,
	&:active {
		box-shadow: $focus-shadow;
	}

	&:checked::before {
		transform: scale(1);
	}
}

@mixin radio-cb-label {
	font: {
		weight: var(--wp--custom--forms--radio-cb--label--font-weight);
		size: var(--wp--custom--forms--radio-cb--label--font-size);
	}
	line-height: var(--wp--custom--forms--radio-cb--label--line-height);
	text-transform: none;
	letter-spacing: var(--wp--custom--forms--radio-cb--label--letter-spacing);
	color: var(--wp--custom--forms--radio-cb--label--color);
}

@mixin checkbox {
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	width: var(--wp--custom--forms--radio-cb--input-size);
	height: var(--wp--custom--forms--radio-cb--input-size);
	border: $field-border;
	border-radius: var(--wp--custom--forms--field--border-radius);
	cursor: pointer;
	padding: 0;
	transition: var(--wp--custom--forms--field--transition);
	@content;

	&::before {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		transform: scale(0);
		background: var(--wp--custom--forms--field--color);
		mask: url("#{$image_path}symbols/fa-check.svg") center / contain no-repeat;
		transition: transform var(--wp--custom--transitions--default);
	}

	&:hover,
	&:focus,
	&:active {
		box-shadow: $focus-shadow;
	}

	&:checked {

		&::before {
			transform: scale(1);
		}
	}
}

@mixin select-field {
	@include base-field {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: {
			image: $select-arrow-gradient;
			size: $select-arrow-size;
			position: $select-arrow-position;
			repeat: no-repeat;
		}
		cursor: pointer;
		padding-right: var(--wp--custom--spacing--small);
		max-width: 100%;
		text-transform: none;
		@content;
	}

	&:-moz-focusring {
		outline: none;
	}
}

@mixin textarea {
	@include base-field {
		display: block;
		width: 100%;
		outline: 0;
		resize: vertical;
		@content;
	}
}

@mixin submit-button {
	display: inline-block;
	-webkit-appearance: none;
	font: {
		family: var(--wp--preset--font-family--primary);
		weight: var(--wp--custom--font-weight--bold);
		size: 1rem;
	}
	background-color: var(--capitola-color-button);
	text: {
		transform: capitalize;
		decoration: none;
	}
	color: var(--capitola-color-button-text);
	border-radius: $radius-small;
	border: 1px solid var(--capitola-color-button);
	cursor: pointer;
	margin: 0;
	transition: border-radius var(--wp--custom--transitions--default);
	white-space: nowrap;
	padding: 0 var(--wp--custom--spacing--xsmall);
	line-height: 2;
	@content;

	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	&:-moz-focusring {
		//outline: 1px dotted purple;
	}

	&:hover,
	&:active,
	&:focus {
		border-radius: 50px;
	}
}
