@use "sass:map";
@use "variables" as *;

@mixin hyperlink {
	cursor: pointer;
	text-decoration: underline;
	color: var(--capitola-color-link);
	transition: color $transition;
	font-weight: var(--wp--custom--font-weight--normal);
	@content;

	&:hover,
	&:focus,
	&:active {
		color: var(--capitola-color-link-hover);
		text-decoration-thickness: 3px;
	}
}

@mixin unstyle-button {
	font: {
		family: var(--wp--preset--font-family--primary);
		size: var(--wp--custom--font-size--p-m);
	}
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
	outline: none;
}

@mixin unstyle-link {
	text-decoration: none;
	font-weight: unset;
	color: unset;
}

@mixin nav-link {
	color: var(--capitola-color-body);
	transition: all $transition;
	text-decoration: none;
	@content;

	&:hover,
	&:active,
	&:focus {
		color: var(--capitola-color-link);

		text: {
			decoration: underline;
			decoration-thickness: 2px;
		}
	}
}

@mixin button {
	@include unstyle-link;
	font: {
		family: var(--wp--custom--buttons--font--family);
		size: var(--wp--custom--buttons--font--size);
		weight: var(--wp--custom--buttons--font--weight);
	}
	background: var(--capitola-color-button);
	text-decoration: none;
	padding: var(--wp--custom--buttons--padding);
	color: var(--capitola-color-button-text);
	border-radius: var(--wp--custom--buttons--border-radius);
	border: 2px solid var(--capitola-color-button);
	cursor: pointer;
	line-height: var(--wp--custom--buttons--line-height);
	margin: 0;
	transition: border-radius $transition;
	white-space: nowrap;
	@content;

	&:hover,
	&:active,
	&:focus {
		border-radius: 30px;
	}
}

@mixin button-primary {

	@include button {
		display: flex;
		gap: var(--wp--custom--spacing--xsmall);
		align-items: center;
		@content;
	}

	&::after {
		content: "";
		display: block;
		width: 12px;
		height: 16px;
		background: var(--capitola-color-button-text);
		mask: url("#{$image_path}arrows/fa-chevron-right.svg") center / contain no-repeat;
		transition: background-color $transition, transform $transition;
	}

	&:hover,
	&:active,
	&:focus {
		@include cta-hover;
	}

	&:disabled,
	&.disabled {
		cursor: not-allowed;
		opacity: 0.5;

		&:hover {
			color: inherit;
			background: #ebe9eb;
		}
	}
}

@mixin button-secondary {
	@include unstyle-link;
	font: {
		family: var(--wp--preset--font-family--primary);
		size: var(--wp--custom--buttons--font--size);
		weight: var(--wp--custom--buttons--font--weight);
	}
	text-decoration: none;
	padding: var(--wp--custom--buttons--padding);
	border-radius: var(--wp--custom--buttons--border-radius);
	border: 2px solid var(--capitola-color-button);
	cursor: pointer;
	line-height: var(--wp--custom--buttons--line-height);
	margin: 0;
	transition: border-radius $transition;
	white-space: nowrap;
	display: flex;
	gap: var(--wp--custom--spacing--xsmall);
	align-items: center;
	background: transparent;
	color: var(--capitola-color-button);
	@content;

	&::after {
		content: "";
		display: block;
		width: 12px;
		height: 16px;
		background: var(--capitola-color-button);
		mask: url(~/assets/svgs/arrows/fa-chevron-right.svg) center / contain no-repeat;
		transition: transform $transition;
	}

	&:hover,
	&:active,
	&:focus {
		@include cta-hover {
			color: var(--capitola-color-button);
		}
	}
}

@mixin button-tertiary {
	@include unstyle-link;
	font: {
		family: var(--wp--preset--font-family--primary);
		size: var(--wp--custom--buttons--font--size);
		weight: var(--wp--custom--buttons--font--weight);
	}
	text-decoration: none;
	cursor: pointer;
	line-height: var(--wp--custom--buttons--line-height);
	margin: 0;
	white-space: nowrap;
	display: flex;
	gap: var(--wp--custom--spacing--xsmall);
	align-items: center;
	background: transparent;
	border: none;
	padding: 0;
	color: var(--capitola-color-button);
	@content;

	&::after {
		content: "";
		display: block;
		width: 12px;
		height: 16px;
		mask: url(#{$image_path}arrows/fa-chevron-right.svg) center / contain no-repeat;
		background: var(--capitola-color-button);
		transition: transform $transition;
	}

	&:hover,
	&:active,
	&:focus {

		&::after {
			transform: translateX(4px);
		}
	}
}

@mixin cta-hover {
	border-radius: 50px;
	color: var(--capitola-color-button-text);
	@content;

	&::after {
		transform: translateX(4px);
	}
}

@mixin cta-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: var(--wp--custom--spacing--small);
	margin-top: var(--wp--custom--spacing--small);
}

// apply to the .swiper class Button classnames are output by this mixin
@mixin swiper-button( $absolute: true ) {

	&-button {

		&-next,
		&-prev {
			width: var(--swiper-button-size);
			height: var(--swiper-button-size);
			cursor: pointer;
			background-color: var(--capitola-color-button);
			display: flex;
			border-radius: var(--swiper-button-size);
			justify-content: center;
			align-items: center;
			transition: opacity $transition;
			border: none;
			appearance: none;
			-webkit-appearance: none;

			@if $absolute {
				position: absolute;
				top: calc(50% - (var(--swiper-button-size) / 2));
			}

			&::after {
				content: "";
				display: block;
				background-color: var(--capitola-color-button-text);
				mask: {
					image: url("#{$image_path}arrows/fa-angle-left.svg");
					repeat: no-repeat;
					position: center;
					size: contain;
				}
				height: 75%;
				width: 75%;
				transition: transform $transition;
			}

			&:not(.swiper-button-disabled) {

				&:hover {

					&::after {
						transform: translateX(-4px);
					}
				}
			}
		}

		&-next {
			transform: rotate(180deg);

			@if $absolute {
				right: 8px;
			}
		}

		&-prev {

			@if $absolute {
				left: 8px;
			}
		}

		&-disabled {

			@if $absolute {
				opacity: 0;
			} @else {
				opacity: 0.5;
			}
		}
	}
}

@mixin mq($width, $type: min) {
	@if $type == min or $type == max {
		@if map.has_key($breakpoints, $width) {
			$width: map.get($breakpoints, $width);

			@if $type == max {
				$width: $width - 1px;
			}
		} @else {
			$width: $width;
		}

		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	} @else {
		$maxwidth: $type;

		@if map.has_key($breakpoints, $width) {
			$width: map.get($breakpoints, $width);
		} @else {
			$width: $width;
		}

		@if map.has_key($breakpoints, $maxwidth) {
			$maxwidth: map.get($breakpoints, $maxwidth);
			$maxwidth: $maxwidth - 1px;
		} @else {
			$maxwidth: $maxwidth;
		}

		@media only screen and (min-width: $width) and (max-width: $maxwidth) {
			@content;
		}
	}
}

@mixin arrow-link {
	@include unstyle-link;
	text-decoration: none;
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: var(--wp--custom--spacing--xxsmall);
	@content;

	&::after {
		content: "";
		display: block;
		background: var(--capitola-color-link);
		mask: url(#{$image_path}arrows/fa-angle-right.svg) center / contain no-repeat;
		height: 1em;
		width: 20px;
		transition: transform $transition;
	}

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;

		&::after {
			transform: translateX(var(--wp--custom--spacing--xxsmall));
		}
	}
}

@mixin contentSize {
	width: var(--wp--custom--content-size-padded);
	margin-inline: auto;
}

@mixin wideSize( $top: 0, $bottom: 0, $left: auto, $right: auto ) {
	width: var(--wp--custom--wide-size-padded);
	margin-inline: auto;
}

@mixin truncate-lines {
	display: -webkit-box;
	-webkit-line-clamp: var(--wp--custom--truncate-lines);
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin star-rating {
	overflow: hidden;
	position: relative;
	height: 1rem;
	@content;

	&::before {
		content: "";
		background: var(--capitola-color-accent);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		mask: {
			size: contain;
			position: center;
			repeat: no-repeat;
		}
	}

	.--row & {

		&::before {
			mask-position: left;
		}
	}

	&[data-rating="1.00"],
	&[data-rating="1"] {

		&::before {
			mask-image: url(#{$image_path}stars/star-rating-1.svg);
		}
	}

	&[data-rating="1.50"],
	&[data-rating="1.5"] {

		&::before {
			mask-image: url(#{$image_path}stars/star-rating-1point5.svg);
		}
	}

	&[data-rating="2.00"],
	&[data-rating="2"] {

		&::before {
			mask-image: url(#{$image_path}stars/star-rating-2.svg);
		}
	}

	&[data-rating="2.50"],
	&[data-rating="2.5"] {

		&::before {
			mask-image: url(#{$image_path}stars/star-rating-2point5.svg);
		}
	}

	&[data-rating="3.00"],
	&[data-rating="3"] {

		&::before {
			mask-image: url(#{$image_path}stars/star-rating-3.svg);
		}
	}

	&[data-rating="3.50"],
	&[data-rating="3.5"] {

		&::before {
			mask-image: url(#{$image_path}stars/star-rating-3point5.svg);
		}
	}

	&[data-rating="4.00"],
	&[data-rating="4"] {

		&::before {
			mask-image: url(#{$image_path}stars/star-rating-4.svg);
		}
	}

	&[data-rating="4.50"],
	&[data-rating="4.5"] {

		&::before {
			mask-image: url(#{$image_path}stars/star-rating-4point5.svg);
		}
	}

	&[data-rating="5.00"],
	&[data-rating="5"] {

		&::before {
			mask-image: url(#{$image_path}stars/star-rating-5.svg);
		}
	}
}

@mixin block-outer-wrap {
	position: relative;
	background: var(--capitola-color-background);
	overflow: hidden;
	padding-block: var(--wp--custom--spacing--block-padding);
}

@mixin block-inner-wrap( $reverse-mobile: false ) {
	position: relative;
	display: flex;
	gap: var(--wp--custom--spacing--block-padding);

	@if $reverse-mobile {
		flex-flow: column-reverse;
	} @else {
		flex-flow: column;
	}
}

@mixin block-inner-wrap-50-50( $reverse-mobile: false, $allow-right-intro: false, $allow-top-intro: false ) {
	@include block-inner-wrap( $reverse-mobile );
	@content;

	@include mq("50-50") {
		flex-direction: row;

		@if $allow-right-intro {

			&.--has-right-intro {
				flex-flow: row-reverse;
			}
		}

		@if $allow-top-intro {

			&.--has-top-intro {
				flex-flow: column;
			}
		}
	}
}
