@use "../../styles/abstracts" as *;

.wp-block-capitola-nav {
	--capitola-dropdownSpeed: 0.2s;
	--capitola-nav-link-fontSize: #{to-rem(20px)};
	position: relative;
	z-index: 100;
	background: var(--capitola-color-background);
	height: 0;
	width: 100%;

	@include mq("large") {
		--capitola-nav-link-fontSize: #{to-rem(16px)};
	}

	&.--is-shown {
		position: fixed;
		top: var(--wp-admin--admin-bar--height, 0);

		&.--sticky-nav.--reveal-down {
			top: 0;
		}

		.burger-line {

			&:nth-child(1) {
				transform-origin: 0 0;
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				transform-origin: 0 100%;
				transform: rotate(-45deg);
			}
		}
	}

	&.--shrink-utility {
		position: fixed;
		top: var(--wp-admin--admin-bar--height, 0);
	}

	&.--sticky-nav.--reveal-down {
		position: fixed;
		top: calc(var(--capitola-header-height) * -1);
		transform: translateY(var(--capitola-header-height));
		transition: transform 1s;
		z-index: 1100; // calculated for woo form overlays

		&.--is-shown {
			transform: unset;
			transition: unset;
		}

		@include mq("sticky-admin-bar") {
			margin-top: var(--wp-admin--admin-bar--height, 0);
		}
	}

	&__banner {
		background: var(--capitola-color-background);

		&.--theme-alert {
			--capitola-color-background: #b00;
			--capitola-color-body: var(--wp--preset--color--white);
		}

		&.--theme-update {
			--capitola-color-background: #f5d904;
			--capitola-color-body: var(--wp--preset--color--black);
		}

		&-body {
			display: flex;
			gap: var(--capitola-spacing-small);

			padding: {
				top: var(--capitola-spacing-small);
				bottom: var(--capitola-spacing-small);
			}

			color: var(--capitola-color-body);

			p {
				margin: 0;
			}

			a {
				@include unstyle-link;
				color: inherit;

				text: {
					decoration: underline;
					underline-offset: 2px;
				}

				&:hover,
				&:active,
				&:focus {
					text-decoration-thickness: 3px;
				}
			}
		}

		&-notice {
			margin: 0;
			align-self: center;
			flex: 1;
		}

		&-close {
			position: relative;
			height: 25px;
			border: none;
			appearance: none;
			padding: 0;
			flex: 0 0 25px;
			cursor: pointer;
			background: var(--capitola-color-body);
			mask: url("#{$image_path}symbols/fa-xmark.svg") center / contain no-repeat;
			transition: scale $transition;

			&.--is-hidden {
				display: none;
			}

			&:hover,
			&:active,
			&:focus {
				scale: 1.4;
			}
		}

		&.--is-hidden {
			display: none;
		}
	}

	&__background {
		background: var(--capitola-color-background);
		height: var(--capitola-header-height);
	}

	&__grid {
		display: flex;
		position: relative;
		align-items: center;
		height: 100%;

		padding: {
			top: var(--capitola-spacing-xsmall);
			bottom: var(--capitola-spacing-xsmall);
		}

		@include mq("large") {
			display: grid;
			grid: 100% / auto 1fr auto;
			padding: 0;
		}
	}

	&__utility-menu {
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		gap: var(--capitola-spacing-small);
		order: 2;
		margin: var(--capitola-spacing-xlarge) 0 0;
		padding: 0;
		list-style: none;

		@include mq("large") {
			margin-top: var(--capitola-spacing-xsmall);
			order: 0;
			flex-flow: row;

			.--sticky-nav.--reveal-down & {
				display: none;
			}

			.--shrink-utility & {
				overflow: hidden;
			}
		}
	}

	&__utility-menu-item {
		font: {
			weight: 600;
			size: to-rem(14px);
		}

		color: var(--capitola-color-body);
	}

	&__utility-menu-item-link {
		@include nav-link {
			display: block;
			color: var(--capitola-color-link);
			background: none;
		}

		&:hover,
		&:focus,
		&:active {
			color: var(--capitola-color-body);
			text-decoration: none;
		}

		&.--account,
		&.--phone {
			display: flex;
			position: relative;
			gap: var(--capitola-spacing-xsmall);
			align-items: center;

			&::before {
				content: "";
				height: 12px;
				width: 12px;
				background: var(--capitola-color-link);

				mask: {
					repeat: no-repeat;
					position: center;
					size: contain;
				}

				transition: background-color $transition;
			}

			&.--account {

				&::before {
					mask-image: url(#{$image_path}utility/fa-user.svg);
				}
			}

			&.--phone {

				&::before {
					mask-image: url(#{$image_path}utility/fa-phone.svg);
				}
			}

			&:hover,
			&:focus,
			&:active {

				&::before {
					background-color: var(--capitola-color-body);
				}
			}
		}
	}

	&__logo {
		display: block;
		flex-grow: 0;
		@include unstyle-link;
		z-index: 1;
		height: 100%;
		margin-right: auto;

		&.--has-svg-mask {
			mask: {
				image: var(--mask-image);
				repeat: no-repeat;
				size: contain;
			}

			background: var(--capitola-color-link);
			height: 100%;
			transition: background-color $transition;

			&:hover,
			&:focus {
				background: var(--capitola-color-link-hover);
			}

			img {
				visibility: hidden;
			}
		}

		@include mq("large") {
			grid-column: 1;

			&.--has-svg-mask {
				height: calc(100% - (var(--capitola-spacing-xsmall) * 2));
			}
		}

		img {
			max-width: 100%;
			object-fit: contain;
			height: 100%;
		}
	}

	&__menu {
		display: flex;
		position: fixed;
		flex-flow: column;
		inset: var(--wp-admin--admin-bar--height, 0) 0 0 0;
		padding: calc(var(--capitola-header-height) + var(--capitola-spacing-medium)) var(--capitola-gutter) 0;
		overflow: auto;
		clip-path: circle(0.3% at 100% 0);
		transition: clip-path 0.5s ease-in;
		background: var(--capitola-color-background);
		z-index: -1;

		.--is-shown & {
			clip-path: circle(141.2% at 100% 0);
		}

		@include mq("large") {
			display: grid;
			position: static;
			overflow: visible;
			clip-path: unset;
			padding: 0;
			height: 100%;
			z-index: unset;

			justify: {
				items: end;
				content: end;
			}

			.--shrink-utility & {
				grid-template-rows: 1fr auto;
				transition: grid-template-rows $transition;
			}

			.--sticky-nav.--shrink-utility & {
				grid-template-rows: 0fr auto;
			}
		}

		.--sticky-nav.--reveal-down & {
			top: 0;

			@include mq("sticky-admin-bar") {
				top: var(--wp-admin--admin-bar--height, 0);
			}
		}
	}

	&__menu-items {
		list-style: none;
		margin: 0;
		padding: var(--capitola-spacing-large) 0 0;

		@include mq("large") {
			display: flex;
			align-items: center;
			gap: var(--capitola-spacing-small);
			padding: 0;
		}
	}

	&__menu-item {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		color: var(--capitola-color-body);

		+.wp-block-capitola-nav__menu-item {
			margin-top: var(--capitola-spacing-small);

			@include mq("large") {
				margin-top: 0;
			}
		}

		@include mq("large") {
			align-items: center;
			gap: var(--capitola-spacing-xsmall);
			height: 100%;

			.--shrink-utility & {
				padding-bottom: var(--capitola-spacing-xsmall);
			}

			&:hover {

				.wp-block-capitola-nav__menu-item-caret {

					@include mq("large") {
						background: var(--capitola-color-link-hover);
					}
				}
			}

			&:has(a:active),
			&:has(a:focus) {

				.wp-block-capitola-nav__menu-item-caret {

					@include mq("large") {
						background: var(--capitola-color-link-hover);
					}
				}
			}
		}

		&-toggle {
			display: block;
			position: relative;
			align-self: center;
			flex: 0 0 20px;
			height: 20px;
			cursor: pointer;
			background: var(--capitola-color-link);
			mask: url("#{$image_path}arrows/fa-angle-down.svg") center / contain no-repeat;
			transform: rotate(-90deg);
			transition: background-color $transition, transform $transition;

			&:hover,
			&:focus,
			&:active {
				background: var(--capitola-color-link-hover);
			}

			@include mq("large") {
				display: none;
			}

			&.--is-open {
				transform: rotate(0deg);
			}
		}

		&-caret {
			display: none;

			@include mq("large") {
				display: block;
				width: 20px;
				height: 1em;
				background: var(--capitola-color-link);
				mask: url("#{$image_path}arrows/fa-angle-down.svg") center / contain no-repeat;
				transition: background-color $transition;
			}
		}
	}

	&__menu-item-link {
		@include unstyle-link;
		display: block;

		font: {
			weight: 600;
			size: var(--capitola-nav-link-fontSize);
		}

		color: var(--capitola-color-link);
		transition: color $transition;
		text-decoration: none;

		&:not(.--no-hover) {

			&:hover,
			&:active,
			&:focus {
				color: var(--capitola-color-link-hover);
			}
		}
	}

	.wp-block-capitola-nav-sublink {
		display: flex;
		margin-top: var(--capitola-spacing-small);

		@include mq("large") {
			margin-top: 0;
			padding: 0;

			&:first-child {
				padding-top: var(--capitola-spacing-small);
			}

			&:last-child {
				padding-bottom: var(--capitola-spacing-small);
			}
		}

		&__link {
			@include unstyle-link;

			@include nav-link {
				font: {
					size: to-rem(16px);
					weight: 500;
				}

				padding-left: var(--capitola-gutter);
			}

			@include mq("large") {
				display: block;
				font-size: var(--capitola-nav-link-fontSize);
				padding: var(--capitola-spacing-xsmall) var(--capitola-spacing-medium);
			}
		}
	}

	&__hamburger {
		@include unstyle-button;
		display: flex;
		position: relative;
		height: 25px;
		flex-flow: column;
		flex: 0 0 32px;
		justify-content: space-between;
		align-items: flex-end;
		transform: rotate(180deg);

		@include mq("large") {
			display: none;
		}

		.burger-line {
			height: 3px;
			width: 100%;
			background: var(--capitola-color-link);
			border-radius: 3px;
			transition: background-color $transition, transform 1s, opacity 1s, transform-origin 1s;
		}

		&:hover,
		&:focus {

			.burger-line {
				background: var(--capitola-color-link-hover);
			}
		}

		&:hover {
			cursor: pointer;
		}
	}

	&__search-trigger {
		display: none;

		@include mq("large") {
			@include unstyle-button;
			display: block;
			position: relative;
			width: 24px;
			height: 24px;
			background: var(--capitola-color-link);
			mask: url("#{$image_path}utility/fa-magnifying-glass.svg") center / contain no-repeat;
			transition: background-color $transition;
			cursor: pointer;

			&:hover,
			&:focus,
			&:active {
				background: var(--capitola-color-link-hover);
			}
		}
	}

	&__cart-count {
		display: none;

		&.--has-items {
			display: block;

			&::before {
				content: "(";
				display: inline;
			}

			&::after {
				content: ")";
				display: inline;
			}
		}
	}

	.search-modal {

		@include mq("large") {
			position: fixed;
			inset: 0;
			height: 100vh;
			z-index: 999999999;
			background: var(--capitola-color-background);
			clip-path: circle(0.3% at 100% 0);
			transition: clip-path 0.5s ease-in;
		}

		&.--is-open {
			clip-path: circle(141.2% at 100% 0);
		}

		&__width {
			display: flex;
			position: relative;
			flex-direction: column;
			justify-content: center;
			height: 100%;

			@include mq("large") {
				@include wideSize;
				// padding: {
				//	 left: var(--wp--style--root--padding-right);
				//	 right: var(--wp--style--root--padding-right);
				// }
			}
		}

		&__close {
			display: none;

			@include mq("large") {
				display: block;
				position: absolute;
				top: 28px;
				right: 0;
				width: 25px;
				height: 25px;
				border: none;
				outline: none;
				cursor: pointer;
				background: var(--capitola-color-body);
				mask: url("#{$image_path}symbols/fa-xmark.svg") center / contain no-repeat;
				transition: background-color $transition;

				&:hover,
				&:active,
				&:focus {
					background: var(--capitola-color-link);
				}
			}
		}

		&__headline {
			display: none;

			@include mq("large") {
				display: block;
				color: var(--capitola-color-body);
			}
		}

		form {
			display: flex;
			position: relative;
			border: none;
			width: 100%;
			max-width: var(--wp--style--global--wide-size);
			margin: 0 auto;

			.search-icon {
				@include unstyle-button;
				position: relative;
				flex: 0 0 25px;
				height: 25px;
				align-self: center;
				margin-left: -25px;
				background: var(--capitola-color-body);
				mask: url("#{$image_path}utility/fa-magnifying-glass.svg") center / contain no-repeat;
				transition: background-color $transition;

				&:hover,
				&:focus,
				&:active {
					background: var(--capitola-color-link);
				}
			}

			input {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				border: none;
				flex: 1 0 0;
				height: 60px;
				color: var(--capitola-color-body);
				font-size: 1.25rem;
				letter-spacing: 0.8px;
				background: transparent linear-gradient(90deg, var(--capitola-color-accent) 0%, var(--capitola-color-accent) 50%, var(--capitola-color-body) 50%, var(--capitola-color-body) 100%) no-repeat scroll 100% 100% / 200% 4px padding-box border-box;
				transition: background-position $transition;

				&::-webkit-search-decoration,
				&::-webkit-search-cancel-button,
				&::-webkit-search-results-button,
				&::-webkit-search-results-decoration {
					display: none;
				}

				&::placeholder {
					color: var(--capitola-color-body);
					opacity: 0.8;
				}

				&:focus {
					outline: none;
					background-position: 0 100%;
				}
			}
		}
	}
}

body:has(.search-modal.--is-open),
body:has(.wp-block-capitola-nav.--is-shown) {
	overflow: hidden;
}