@use "@capitola/styles/abstracts" as *;

@keyframes spinner-rotation {

	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

.--spinner {
	position: relative;
	height: 60px;
	width: 60px;
	margin-inline: auto;
	background-color: var(--capitola-color-body);
	mask: {
		image: url(#{$image_path}utility/fa-spinner.svg);
		repeat: no-repeat;
		position: center;
		size: contain;
	}
	animation: spinner-rotation 2s infinite linear;
}

.--block-notice {
	text-align: center;
}
