@use "../../styles/abstracts" as *;

.wp-block-cwps-nav-dropdown {

	@include mq("large") {
		position: relative;

		&:hover {

			.wp-block-cwps-nav-dropdown__sub-menu {
				grid-template-rows: 1fr;
			}
		}
	}

	&__sub-menu {
		display: grid;
		overflow-y: hidden;
		flex: 0 1 100%;
		grid: 0fr / max-content;
		transition: grid-template-rows $transition;

		&.--is-open {
			grid-template-rows: 1fr;
		}

		&:has(a:focus) {
			grid-template-rows: 1fr;
		}

		&:has(a:active) {
			grid-template-rows: 1fr;
		}

		@include mq("large") {
			position: absolute;
			top: 100%;
			min-width: 100%;
			background: var(--cwps-color-background);
			border-radius: 0 0 6px 6px;
			transition: grid-template-rows var(--cwps-dropdownSpeed);

			&.--right-align {
				right: 0;
			}

			&.--left-align {
				left: 0;
			}

			&.--center-align {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	&__sub-menu-height {
		overflow: hidden;
	}

	&__sub-menu-items {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
