@use "../../styles/abstracts" as *;


.wp-block-capitola-lightbox-gallery {
	position: relative;
	margin: 0;

	&__inner-wrap {
		position: relative;

		&.--is-sticky {
			// add sticky style to parent block, as breakpoints may differ
		}
	}

	&__main-image {
		@include unstyle-button;
		display: flex;
		position: relative;
		border-radius: $radius-small;
		margin-bottom: var(--wp--custom--spacing--xxsmall);
		width: 100%;
		justify-content: center;
		align-items: center;

		.--aspect-ratio-1 & {
			aspect-ratio: 1;
		}

		.--aspect-ratio-16-9 & {
			aspect-ratio: 16/9;
		}

		.--aspect-ratio-3-2 & {
			aspect-ratio: 3/2;
		}

		.--aspect-ratio-4-3 & {
			aspect-ratio: 4/3;
		}

		img {
			position: absolute;
			height: 100%;
			width: 100%;
			object-fit: cover;
			transition: opacity 0.5s;

			&.--fade-out {
				opacity: 0;
			}
		}

		&:hover,
		&:focus,
		&:active {

			.wp-block-capitola-lightbox-gallery__main-image-hover {
				opacity: 1;
			}
		}
	}

	&__main-image-hover {
		display: flex;
		position: absolute;
		inset: 0;
		justify-content: center;
		align-items: center;
		background: var(--wp--custom--opacity--dark);
		transition: opacity var(--wp--custom--transitions--default);
		opacity: 0;

		&::after {
			content: "";
			height: 32px;
			width: 32px;
			background: var(--wp--preset--color--white);
			mask: url(#{$image_path}arrows/fa-maximize.svg) center / contain no-repeat;
		}
	}

	&__thumbnails {
		display: flex;
		position: relative;
		overflow: hidden;
		flex-wrap: wrap;
		gap: var(--wp--custom--spacing--xxsmall);
	}

	&__thumbnail {
		@include unstyle-button;
		display: flex;
		position: relative;
		flex: 0 0 calc((100% / 3) - ((var(--wp--custom--spacing--xxsmall) * 2) / 3));
		justify-content: center;
		align-items: center;
		aspect-ratio: 1;
		height: 100%;
		margin: 0;
		border-radius: $radius-small;
		transition: opacity var(--wp--custom--transitions--default);

		.--aspect-ratio-16-9 & {
			aspect-ratio: 16/9;
		}

		.--aspect-ratio-3-2 & {
			aspect-ratio: 3/2;
		}

		.--aspect-ratio-4-3 & {
			aspect-ratio: 4/3;
		}

		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background: rgba(0, 0, 0, 0.5);
			opacity: 0;
			transition: opacity var(--wp--custom--transitions--default);
		}

		&:hover,
		&:focus {

			&::after {
				opacity: 1;
			}
		}

		&.--is-selected {
			opacity: 0.7;
		}

		img {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:only-child {
			display: none;
		}
	}

	&__lightbox {
		position: fixed;
		z-index: 10000;
		inset: var(--wp-admin--admin-bar--height, 0) 0 0 0;
		overflow: auto;
		padding: 50px;
		background: var(--wp--custom--opacity--xdark);
	}

	&__lightbox-close {
		position: absolute;
		top: 10px;
		right: 25px;
		height: 24px;
		width: 24px;
		background: var(--wp--preset--color--white);
		mask: url(#{$image_path}symbols/fa-xmark.svg) center / contain no-repeat;
		transition: opacity var(--wp--custom--transitions--default);
		cursor: pointer;

		&:hover,
		&:focus {
			opacity: 0.5;
		}
	}

	&__lightbox-content {
		display: flex;
		position: relative;
		flex-flow: column;
		width: 100%;
		height: 100%;
		text-align: center;
		overflow: hidden;
		gap: var(--wp--custom--spacing--small);
	}

	&__lightbox-slides {
		display: flex;
		flex-grow: 1;
	}

	&__lightbox-page-count {
		color: var(--wp--preset--color--white);
		font-size: 1rem;
	}

	&__lightbox-grid {
		display: flex;
		flex-flow: column;
		flex: 0 0 100%;
		height: 100%;
		gap: var(--wp--custom--spacing--xsmall);
	}

	&__lightbox-img-wrap {
		position: relative;
		flex: 0 1 100%;

		img {
			position: absolute;
			height: 100%;
			width: 100%;
			object-fit: contain;
			inset: 0;
			transition: opacity 0.5s;

			&.--fade-out {
				opacity: 0;
			}
		}
	}

	&__lightbox-caption {
		width: var(--wp--custom--content-size-padded);
		margin-inline: auto;
		text-align: center;
		color: var(--wp--preset--color--white);
		transition: opacity 0.5s;

		&.--fade-out {
			opacity: 0;
		}
	}

	&__lightbox-nav {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--wp--custom--spacing--medium);

		&-prev,
		&-next {
			background: var(--wp--preset--color--white);
			mask: url(#{$image_path}arrows/fa-angle-right.svg) center / contain no-repeat;
			height: 24px;
			width: 24px;
			cursor: pointer;
			transition: opacity var(--wp--custom--transitions--default);

			&:hover {
				opacity: 0.5;
			}
		}

		&-prev {
			mask-image: url(#{$image_path}arrows/fa-angle-left.svg);
		}
	}
}

body:has(.wp-block-capitola-lightbox-gallery__lightbox) {
	overflow: hidden;
}
