@use "../../styles/abstracts" as *;

.cwps-repeater-popover {

	&__trigger {
		position: absolute;
		padding: 0;
		width: 24px;
		height: 24px;
		background-color: rgba(0, 0, 0, 0.5);
		top: 0;
		right: 0;
		z-index: 1;
		opacity: 0;
		border-radius: 0 0 0 4px;
		cursor: pointer;

		svg {
			height: 100%;
			width: 100%;

			path {
				fill: #fff;
			}
		}

		&.--full-button {
			width: 100%;
			height: 100%;
			border-radius: 0;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				height: 25%;
				width: 25%;
			}
		}

		&:hover {
			opacity: 0.7;
		}

		*:hover > & {
			opacity: 1;
		}
	}

	&__toolbar {
		display: flex;
		position: relative;
		gap: 16px;
		background-color: var(--wp--preset--color--white);
		padding: var(--cwps-spacing-xsmall);
	}

	&__toolbar-button.components-button {
		display: flex;
		height: 16px;
		width: 16px;
		padding: 0 !important;
		justify-content: center;
		align-items: center;
		transition: all $transition;

		&:hover {
			//opacity: .7;

			&.--delete .dashicon,
			.dashicon {
				color: #000;
			}

			svg {

				path {
					fill: #000;
				}
			}
		}

		svg {
			height: 100%;
			width: 100%;
		}

		.dashicon {
			cursor: pointer;
			color: rgb(0, 124, 186);
		}

		&.--delete {

			.dashicon {
				color: #d43131;
			}
		}

		&.--add-before,
		&.--add-after {
			position: relative;
			width: 28px;

			&::before {
				content: "";
				display: block;
				position: absolute;
				background-color: rgb(0, 124, 186);
				mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"%3E%3Cpath d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/%3E%3C/svg%3E');
				mask-repeat: no-repeat;
				height: 100%;
				left: 0;
				aspect-ratio: 1;
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				background: rgb(0, 124, 186);
				mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"%3E%3Cpath d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/%3E%3C/svg%3E');
				mask-repeat: no-repeat;
				height: 100%;
				right: 0;
				aspect-ratio: 1;
			}

			&.--vertical {
				width: 32px;

				&::before {
					mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"%3E%3Cpath d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/%3E%3C/svg%3E');
				}
			}

			&:hover {

				&::before,
				&::after {
					background: #000;
				}
			}
		}

		&.--add-after {
			transform: rotate(180deg);
		}
	}

	&__fields {
		padding: 8px;
		width: 300px;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	// Lower z-index when media modal is open
	&.--media-modal-open {
		z-index: unset !important; // Below media modal (1000001+)
	}
}
