.capitola-image-select-button {
	display: none;
	position: relative;
	width: unset;
	height: unset;
	min-height: 40px;

	*:hover > & {
		display: block;
	}

	&__outer-flex-wrap {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
