<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:capitola/cover-block {"backgroundImage":72865,"headline":"Page not found"} -->
    <!-- wp:paragraph {"placeholder":"Intro..."} -->
    <p>Proin faucibus arcu quis ante. Ac massa at ligula laoreet iaculis.. Ut leo. Nulla facilisi.</p>
    <!-- /wp:paragraph -->
    <!-- /wp:capitola/cover-block --></main>
    <!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
