<!-- wp:template-part {"slug":"header","theme":"santacruzdivers","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:capitola/cover-block {"backgroundImage":72865,"headline":"Did you forget your compass?","cta":{"title":"Test","url":"/event/test-new-event/","target":null}} -->
    <!-- wp:paragraph {"placeholder":"Intro..."} -->
    <p>Proin faucibus arcu quis ante. <a href="/event/test-new-event/" data-type="tribe_events" data-id="75923">Praesent</a> ac massa at ligula laoreet iaculis.. Ut leo. Nulla facilisi.</p>
    <!-- /wp:paragraph -->
    <!-- /wp:capitola/cover-block --></main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"santacruzdivers","tagName":"footer"} /-->
