@use "@capitola/styles/abstracts" as *;

.wp-block-capitola-page-nav {
	padding-bottom: var(--wp--custom--spacing--large);
	background: var(--capitola-color-background);

	&__width {
		display: flex;
		justify-content: space-between;
	}

	&__prev,
	&__next {
		@include hyperlink {
			font-weight: var(--wp--custom--font-weight--bold);
			display: flex;
			text-decoration: none;
			align-items: center;
			gap: var(--wp--custom--spacing--xsmall);
		}
	}

	&__prev {
		margin-right: auto;

		&::before {
			content: "";
			display: block;
			mask: url(~/assets/svgs/arrows/fa-angle-left.svg) center / contain no-repeat;
			background: currentColor;
			width: 16px;
			height: 16px;
			transition: background-color var(--wp--custom--transitions--default), transform var(--wp--custom--transitions--default);
		}

		&:hover,
		&:focus {

			&::before {
				transform: translateX(-4px);
			}
		}
	}

	&__next {
		margin-left: auto;

		&::after {
			content: "";
			display: block;
			mask: url(~/assets/svgs/arrows/fa-angle-right.svg) center / contain no-repeat;
			background: currentColor;
			width: 16px;
			height: 16px;
			transition: background-color var(--wp--custom--transitions--default), transform var(--wp--custom--transitions--default);
		}

		&:hover,
		&:focus {

			&::after {
				transform: translateX(4px);
			}
		}
	}
}
