@use "../../styles/abstracts" as *;

.wp-block-capitola-bg-image-text {
	position: relative;
	overflow: hidden;

	&__imagewrap {
		position: absolute;
		inset: 0;

		&:has(.components-spinner) {
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
		}

		img {
			width: 100%;
			height: 100%;
			object: {
				fit: cover;
				position: var(--capitola-objectPosition);
			}
		}

		&.--img-parallax {

			img {
				height: 150%;
			}
		}
	}

	&__width {
		position: relative;

		@include mq("medium") {
			display: flex;
		}

		.wp-block-capitola-body-text {
			padding: 320px var(--capitola-gutter) var(--capitola-blockPadding) var(--capitola-gutter);

			@include mq("medium") {
				margin: {
					left: auto;
					right: 0;
				}
				padding: var(--capitola-blockPadding) var(--capitola-wideSize-padding) var(--capitola-blockPadding) 0;
			}
		}

		&.--has-left-intro {

			.wp-block-capitola-body-text {
				@include mq("medium") {
					margin: {
						left: 0;
						right: auto;
					}
					padding: {
						right: 0;
						left: var(--capitola-wideSize-padding);
					}
				}
			}
		}

		&.--has-small-radius {

			.wp-block-capitola-body-text__grid {
				border-radius: $radius-med;
			}
		}

		&.--has-medium-radius {

			.wp-block-capitola-body-text__grid {
				border-radius: $radius-large;
			}
		}
	}

	.wp-block-capitola-body-text__grid {
		position: relative;
		padding: var(--capitola-spacing-large);
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background: var(--capitola-color-background);
			opacity: 0.8;
		}
	}
}
