@use "../../styles/abstracts" as *;

.wp-block-cwps-open-content {
	background: var(--cwps-color-background);
	padding: {
		top: var(--cwps-blockPadding);
		bottom: var(--cwps-blockPadding);
	}

	&__content {

		&.--justify-left {
			margin-left: 0 !important; //overrriding wp defualt
		}

		&.--justify-center {

			&.--align-center {
				text-align: center;
			}
		}

		&.--justify-right {
			margin-right: 0 !important; //overrriding wp defualt
		}
	}
}
