.wp-block-capitola-simple-spacer {
	display: flex;
	border: 1px solid var(--wp-admin-theme-color);
	align-items: center;
	justify-content: center;

	p {
		text-align: center;
		line-height: 1;
		margin: {
			top: 0;
			bottom: 0 !important;
		}
	}

	&.is-style-small {

		p {
			font-size: 6px;
			margin-bottom: 0;
		}
	}
}
