.wp-block-cwps-simple-spacer {

	&.is-style-xxlarge {
		height: var(--cwps-spacing-xxlarge);
	}

	&.is-style-xlarge {
		height: var(--cwps-spacing-large);
	}

	&.is-style-large {
		height: var(--cwps-spacing-medium);
	}

	&.is-style-medium {
		height: var(--cwps-spacing-small);
	}

	&.is-style-small {
		height: var(--cwps-spacing-small);
	}
}
