.capitola-theme-picker {
	margin-bottom: 8px;

	&__option {
		padding: 0;

		&-swatch {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			overflow: hidden;
		}

		&-bg {
			flex-basis: 100%;
			height: 50%;
		}

		&-primary {
			flex-basis: 50%;
			height: 50%;
		}

		&-secondary {
			flex-basis: 50%;
			height: 50%;
		}

		&-selected {
			display: flex;
			position: absolute;
			align-items: center;
			justify-content: center;
			background-color: #00000080;
			border-radius: 50%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			path {
				fill: #fff;
			}
		}
	}
}
