@use "@capitola/styles/abstracts" as *;

.wp-block-capitola-tabbed-contents {
	@include block-outer-wrap;

	&__width {
		@include block-inner-wrap-50-50($allow-top-intro: true);
	}
}

.wp-block-capitola-tabbed-contents-tabs {

	@include mq("50-50") {
		flex: 0 1 50%;
	}

	&__tabs {
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid var(--capitola-color-accent);
	}

	&__tab {
		@include unstyle-button;
		padding: var(--wp--custom--spacing--xsmall) var(--wp--custom--spacing--small);
		border: 1px solid transparent;
		border-bottom: unset;
		color: var(--capitola-color-accent);
		font-weight: var(--wp--custom--font-weight--bold);
		transition: background-color var(--wp--custom--transitions--default), color var(--wp--custom--transitions--default), border-color var(--wp--custom--transitions--default);

		&.--is-selected {
			background: var(--capitola-color-accent);
			color: var(--capitola-color-background);

			&:focus-visible {
				background: none;
				color: var(--capitola-color-accent);
			}
		}

		&:not(.--is-selected) {

			&:hover,
			&:focus {
				border-color: currentColor;
			}
		}
	}

	&__panels {
		padding-top: var(--wp--custom--spacing--small);

		&:not(:has(.--active)) {

			.wp-block-capitola-tabbed-contents-panel:first-child {
				display: block;
			}
		}
	}
}

.wp-block-capitola-tabbed-contents-panel {
	display: none;
	min-height: 60px;

	&.--active {
		display: block;
	}

	.--has-top-intro & {
		max-width: var(--wp--custom--content-size);
	}
}
