@use "../abstracts" as *;

/* @link https://utopia.fyi/clamp/calculator?a=480,1280,56—112 */

:root {
	--cwps-fluid-14-16: clamp(0.875rem, 0.8rem + 0.25vw, 1rem);
	--cwps-fluid-16-18: clamp(1rem, 0.925rem + 0.25vw, 1.125rem);
	--cwps-fluid-16-80: clamp(1rem, -1.4rem + 8vw, 5rem);
	--cwps-fluid-18-20: clamp(1.125rem, 1.05rem + 0.25vw, 1.25rem);
	--cwps-fluid-20-24: clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
	--cwps-fluid-24-32: clamp(1.5rem, 1.2rem + 1vw, 2rem);
	--cwps-fluid-32-40: clamp(2rem, 1.7rem + 1vw, 2.5rem);
	--cwps-fluid-32-48: clamp(2rem, 1.4rem + 2vw, 3rem);
	--cwps-fluid-40-48: clamp(2.5rem, 2.2rem + 1vw, 3rem);
	--cwps-fluid-40-80: clamp(2.5rem, 1rem + 5vw, 5rem);
	--cwps-fluid-48-56: clamp(3rem, 2.7rem + 1vw, 3.5rem);
	--cwps-fluid-56-112: clamp(3.5rem, 1.4rem + 7vw, 7rem);
}
