@use "../abstracts" as *;

:root {
	--cwps-gutter: var(--cwps-fluid-16-80);
	--cwps-wideSize: 1250px;
	--cwps-contentSize: 750px;
	--cwps-contentSize-padded: min(var(--cwps-contentSize), calc(100% - (var(--cwps-gutter) * 2)));
	--cwps-wideSize-padded: min(var(--cwps-wideSize), calc(100% - (var(--cwps-gutter) * 2)));
	--cwps-wideSize-padding: max(var(--cwps-gutter), calc((100% - var(--cwps-wideSize)) / 2));
	--cwps-wideSize-margin: max(var(--cwps-gutter), calc((100vw - var(--cwps-wideSize)) / 2));
	--cwps-header-height: 56px;
	--cwps-anchor-menu-height: 40px;

	@include mq("large") {
		--cwps-header-height: 80px;
		--cwps-anchor-menu-height: 60px;
	}
}
