@use "../abstracts" as *;

:root {
	--capitola-header-height: 56px;
	--capitola-anchor-menu-height: 40px;

	@include mq("large") {
		--capitola-header-height: 80px;
		--capitola-anchor-menu-height: 60px;
	}
}
