@use "../abstracts" as *;

:root {
	--capitola-spacing-xxlarge: var(--capitola-fluid-56-112);
	--capitola-spacing-xlarge: var(--capitola-fluid-40-80);
	--capitola-spacing-large: var(--capitola-fluid-32-48);
	--capitola-spacing-medium: var(--capitola-fluid-24-32);
	--capitola-spacing-small: 16px;
	--capitola-spacing-xsmall: 8px;
	--capitola-spacing-xxsmall: 4px;

	--capitola-blockPadding: var(--capitola-fluid-40-80);

	--capitola-open-content-spacing: 16px;
	--capitola-open-headline-spacing: var(--capitola-fluid-24-32);
}
