@use "@capitola/styles/abstracts" as *;

:root {
	--field-text: var(--wp--preset--color--black);
	--field-text-focus: var(--wp--preset--color--black);
	--capitola-overlayOpacity: 0.5;

	// theme vars
	--capitola-color-background: var(--wp--preset--color--white);
	--capitola-color-body: var(--wp--preset--color--black);
	--capitola-color-headline: var(--wp--preset--color--crimson-bolt);
	--capitola-color-link: var(--wp--preset--color--crimson-bolt);
	--capitola-color-link-hover: var(--wp--preset--color--black);
	--capitola-color-accent: var(--wp--preset--color--crimson-bolt);
	--capitola-color-button: var(--wp--preset--color--crimson-bolt);
	--capitola-color-button-text: var(--wp--preset--color--white);
	--capitola-color-tile-background: var(--wp--preset--color--black);
	--capitola-color-tile-body: var(--wp--preset--color--white);
	--capitola-color-tile-primary: var(--wp--preset--color--crimson-bolt);

	.--theme-default-dark,
	[data-theme="default-dark"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--white);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--white);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--white);
		--wp--custom--forms--label--color: var(--wp--preset--color--white);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--white);
		--capitola-color-body: var(--wp--preset--color--white);
		--capitola-color-background: var(--wp--preset--color--black);
		--capitola-color-accent: var(--wp--preset--color--cherry-pop);
		--capitola-color-headline: var(--wp--preset--color--cherry-pop);
		--capitola-color-link: var(--wp--preset--color--cherry-pop);
		--capitola-color-link-hover: var(--wp--preset--color--white);
		--capitola-color-button: var(--wp--preset--color--cherry-pop);
		--capitola-color-button-text: var(--wp--preset--color--black);
		--capitola-color-tile-background: var(--wp--preset--color--white);
		--capitola-color-tile-primary: var(--wp--preset--color--crimson-bolt);
		--capitola-color-tile-body: var(--wp--preset--color--black);
	}

	.--theme-summer-splash-light,
	[data-theme="summer-splash-light"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--black);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--black);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--black);
		--wp--custom--forms--label--color: var(--wp--preset--color--black);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--black);
		--capitola-color-body: var(--wp--preset--color--black);
		--capitola-color-background: var(--wp--preset--color--white);
		--capitola-color-accent: var(--wp--preset--color--atlantic-ink);
		--capitola-color-headline: var(--wp--preset--color--atlantic-ink);
		--capitola-color-link: var(--wp--preset--color--atlantic-ink);
		--capitola-color-link-hover: var(--wp--preset--color--black);
		--capitola-color-button: var(--wp--preset--color--atlantic-ink);
		--capitola-color-button-text: var(--wp--preset--color--white);
		--capitola-color-tile-background: var(--wp--preset--color--atlantic-ink);
		--capitola-color-tile-primary: var(--wp--preset--color--icy-breeze);
		--capitola-color-tile-body: var(--wp--preset--color--white);
	}

	.--theme-summer-splash,
	[data-theme="summer-splash"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--black);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--black);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--black);
		--wp--custom--forms--label--color: var(--wp--preset--color--black);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--black);
		--capitola-color-background: var(--wp--preset--color--icy-breeze);
		--capitola-color-accent: var(--wp--preset--color--atlantic-ink);
		--capitola-color-headline: var(--wp--preset--color--atlantic-ink);
		--capitola-color-link: var(--wp--preset--color--atlantic-ink);
		--capitola-color-link-hover: var(--wp--preset--color--black);
		--capitola-color-button: var(--wp--preset--color--atlantic-ink);
		--capitola-color-button-text: var(--wp--preset--color--white);
		--capitola-color-body: var(--wp--preset--color--black);
		--capitola-color-tile-background: var(--wp--preset--color--atlantic-ink);
		--capitola-color-tile-primary: var(--wp--preset--color--icy-breeze);
		--capitola-color-tile-body: var(--wp--preset--color--white);
	}

	.--theme-deep-blue-light,
	[data-theme="deep-blue-light"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--black);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--black);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--black);
		--wp--custom--forms--label--color: var(--wp--preset--color--black);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--black);
		--capitola-color-body: var(--wp--preset--color--black);
		--capitola-color-background: var(--wp--preset--color--white);
		--capitola-color-accent: var(--wp--preset--color--midnight-abyss);
		--capitola-color-headline: var(--wp--preset--color--midnight-abyss);
		--capitola-color-link: var(--wp--preset--color--midnight-abyss);
		--capitola-color-link-hover: var(--wp--preset--color--black);
		--capitola-color-button: var(--wp--preset--color--midnight-abyss);
		--capitola-color-button-text: var(--wp--preset--color--white);
		--capitola-color-tile-background: var(--wp--preset--color--midnight-abyss);
		--capitola-color-tile-primary: var(--wp--preset--color--sky-breeze);
		--capitola-color-tile-body: var(--wp--preset--color--white);
	}

	.--theme-deep-blue,
	[data-theme="deep-blue"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--white);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--white);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--white);
		--wp--custom--forms--label--color: var(--wp--preset--color--white);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--white);
		--capitola-color-background: var(--wp--preset--color--midnight-abyss);
		--capitola-color-headline: var(--wp--preset--color--sky-breeze);
		--capitola-color-link: var(--wp--preset--color--sky-breeze);
		--capitola-color-link-hover: var(--wp--preset--color--white);
		--capitola-color-accent: var(--wp--preset--color--sky-breeze);
		--capitola-color-button: var(--wp--preset--color--sky-breeze);
		--capitola-color-body: var(--wp--preset--color--white);
		--capitola-color-button-text: var(--wp--preset--color--midnight-abyss);
		--capitola-color-tile-background: var(--wp--preset--color--sky-breeze);
		--capitola-color-tile-primary: var(--wp--preset--color--midnight-abyss);
		--capitola-color-tile-body: var(--wp--preset--color--black);
	}

	.--theme-middle-eastern-light,
	[data-theme="middle-eastern-light"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--black);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--black);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--black);
		--wp--custom--forms--label--color: var(--wp--preset--color--black);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--black);
		--capitola-color-body: var(--wp--preset--color--black);
		--capitola-color-background: var(--wp--preset--color--white);
		--capitola-color-accent: var(--wp--preset--color--crimson-velvet);
		--capitola-color-headline: var(--wp--preset--color--crimson-velvet);
		--capitola-color-link: var(--wp--preset--color--crimson-velvet);
		--capitola-color-link-hover: var(--wp--preset--color--black);
		--capitola-color-button: var(--wp--preset--color--crimson-velvet);
		--capitola-color-button-text: var(--wp--preset--color--white);
		--capitola-color-tile-background: var(--wp--preset--color--crimson-velvet);
		--capitola-color-tile-primary: var(--wp--preset--color--sunbeam-cream);
		--capitola-color-tile-body: var(--wp--preset--color--white);
	}

	.--theme-middle-eastern,
	[data-theme="middle-eastern"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--black);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--black);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--black);
		--wp--custom--forms--label--color: var(--wp--preset--color--black);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--black);
		--capitola-color-background: var(--wp--preset--color--sunbeam-cream);
		--capitola-color-accent: var(--wp--preset--color--crimson-velvet);
		--capitola-color-headline: var(--wp--preset--color--crimson-velvet);
		--capitola-color-link: var(--wp--preset--color--crimson-velvet);
		--capitola-color-link-hover: var(--wp--preset--color--black);
		--capitola-color-button: var(--wp--preset--color--crimson-velvet);
		--capitola-color-body: var(--wp--preset--color--black);
		--capitola-color-button-text: var(--wp--preset--color--white);
		--capitola-color-tile-background: var(--wp--preset--color--crimson-velvet);
		--capitola-color-tile-primary: var(--wp--preset--color--sunbeam-cream);
		--capitola-color-tile-body: var(--wp--preset--color--white);
	}

	.--theme-red-beanie-light,
	[data-theme="red-beanie-light"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--black);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--black);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--black);
		--wp--custom--forms--label--color: var(--wp--preset--color--black);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--black);
		--capitola-color-body: var(--wp--preset--color--black);
		--capitola-color-background: var(--wp--preset--color--white);
		--capitola-color-accent: var(--wp--preset--color--cherry-blaze);
		--capitola-color-headline: var(--wp--preset--color--cherry-blaze);
		--capitola-color-link: var(--wp--preset--color--cherry-blaze);
		--capitola-color-link-hover: var(--wp--preset--color--black);
		--capitola-color-button: var(--wp--preset--color--midnight-plum);
		--capitola-color-button-text: var(--wp--preset--color--white);
		--capitola-color-tile-background: var(--wp--preset--color--cherry-blaze);
		--capitola-color-tile-primary: var(--wp--preset--color--soft-driftwood);
		--capitola-color-tile-body: var(--wp--preset--color--white);
	}

	.--theme-red-beanie,
	[data-theme="red-beanie"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--white);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--white);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--white);
		--wp--custom--forms--label--color: var(--wp--preset--color--white);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--white);
		--capitola-color-background: var(--wp--preset--color--cherry-blaze);
		--capitola-color-accent: var(--wp--preset--color--golden-cream);
		--capitola-color-headline: var(--wp--preset--color--golden-cream);
		--capitola-color-link: var(--wp--preset--color--golden-cream);
		--capitola-color-link-hover: var(--wp--preset--color--white);
		--capitola-color-button: var(--wp--preset--color--golden-cream);
		--capitola-color-body: var(--wp--preset--color--white);
		--capitola-color-button-text: var(--wp--preset--color--black);
		--capitola-color-tile-background: var(--wp--preset--color--golden-cream);
		--capitola-color-tile-primary: var(--wp--preset--color--midnight-plum);
		--capitola-color-tile-body: var(--wp--preset--color--black);
	}

	.--theme-pomegranate-light,
	[data-theme="pomegranate-light"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--black);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--black);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--black);
		--wp--custom--forms--label--color: var(--wp--preset--color--black);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--black);
		--capitola-color-body: var(--wp--preset--color--black);
		--capitola-color-background: var(--wp--preset--color--white);
		--capitola-color-accent: var(--wp--preset--color--burnt-sienna);
		--capitola-color-headline: var(--wp--preset--color--burnt-sienna);
		--capitola-color-link: var(--wp--preset--color--burnt-sienna);
		--capitola-color-link-hover: var(--wp--preset--color--black);
		--capitola-color-button: var(--wp--preset--color--crimson-night);
		--capitola-color-button-text: var(--wp--preset--color--white);
		--capitola-color-tile-background: var(--wp--preset--color--burnt-sienna);
		--capitola-color-tile-primary: var(--wp--preset--color--vanilla-dream);
		--capitola-color-tile-body: var(--wp--preset--color--white);
	}

	.--theme-pomegranate,
	[data-theme="pomegranate"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--white);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--white);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--white);
		--wp--custom--forms--label--color: var(--wp--preset--color--white);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--white);
		--capitola-color-background: var(--wp--preset--color--burnt-sienna);
		--capitola-color-accent: var(--wp--preset--color--vanilla-dream);
		--capitola-color-headline: var(--wp--preset--color--vanilla-dream);
		--capitola-color-link: var(--wp--preset--color--vanilla-dream);
		--capitola-color-link-hover: var(--wp--preset--color--white);
		--capitola-color-button: var(--wp--preset--color--vanilla-dream);
		--capitola-color-body: var(--wp--preset--color--white);
		--capitola-color-button-text: var(--wp--preset--color--black);
		--capitola-color-tile-background: var(--wp--preset--color--vanilla-dream);
		--capitola-color-tile-primary: var(--wp--preset--color--burnt-sienna);
		--capitola-color-tile-body: var(--wp--preset--color--black);
	}

	.--theme-dawn-light,
	[data-theme="dawn-light"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--black);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--black);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--black);
		--wp--custom--forms--label--color: var(--wp--preset--color--black);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--black);
		--capitola-color-body: var(--wp--preset--color--black);
		--capitola-color-background: var(--wp--preset--color--white);
		--capitola-color-accent: var(--wp--preset--color--midnight-blue);
		--capitola-color-headline: var(--wp--preset--color--midnight-blue);
		--capitola-color-link: var(--wp--preset--color--midnight-blue);
		--capitola-color-link-hover: var(--wp--preset--color--black);
		--capitola-color-button: var(--wp--preset--color--midnight-blue);
		--capitola-color-button-text: var(--wp--preset--color--white);
		--capitola-color-tile-background: var(--wp--preset--color--midnight-blue);
		--capitola-color-tile-primary: var(--wp--preset--color--burnt-sunrise);
		--capitola-color-tile-body: var(--wp--preset--color--white);
	}

	.--theme-dawn,
	[data-theme="dawn"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--white);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--white);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--white);
		--wp--custom--forms--label--color: var(--wp--preset--color--white);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--white);
		--capitola-color-background: var(--wp--preset--color--midnight-blue);
		--capitola-color-accent: var(--wp--preset--color--golden-amber);
		--capitola-color-headline: var(--wp--preset--color--golden-amber);
		--capitola-color-link: var(--wp--preset--color--golden-amber);
		--capitola-color-link-hover: var(--wp--preset--color--white);
		--capitola-color-button: var(--wp--preset--color--golden-amber);
		--capitola-color-body: var(--wp--preset--color--white);
		--capitola-color-button-text: var(--wp--preset--color--black);
		--capitola-color-tile-background: var(--wp--preset--color--golden-amber);
		--capitola-color-tile-primary: var(--wp--preset--color--midnight-blue);
		--capitola-color-tile-body: var(--wp--preset--color--black);
	}

	.--theme-pulp-slices-light,
	[data-theme="pulp-slices-light"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--black);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--black);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--black);
		--wp--custom--forms--label--color: var(--wp--preset--color--black);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--black);
		--capitola-color-body: var(--wp--preset--color--black);
		--capitola-color-background: var(--wp--preset--color--white);
		--capitola-color-accent: var(--wp--preset--color--forest-pine);
		--capitola-color-headline: var(--wp--preset--color--forest-pine);
		--capitola-color-link: var(--wp--preset--color--forest-pine);
		--capitola-color-link-hover: var(--wp--preset--color--black);
		--capitola-color-button: var(--wp--preset--color--midnight-ocean);
		--capitola-color-button-text: var(--wp--preset--color--white);
		--capitola-color-tile-background: var(--wp--preset--color--midnight-ocean);
		--capitola-color-tile-primary: var(--wp--preset--color--peach-creme);
		--capitola-color-tile-body: var(--wp--preset--color--white);
	}

	.--theme-pulp-slices,
	[data-theme="pulp-slices"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--black);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--black);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--black);
		--wp--custom--forms--label--color: var(--wp--preset--color--black);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--black);
		--capitola-color-background: var(--wp--preset--color--soft-peach);
		--capitola-color-accent: var(--wp--preset--color--forest-fern);
		--capitola-color-headline: var(--wp--preset--color--forest-fern);
		--capitola-color-link: var(--wp--preset--color--forest-fern);
		--capitola-color-link-hover: var(--wp--preset--color--black);
		--capitola-color-button: var(--wp--preset--color--midnight-ocean);
		--capitola-color-body: var(--wp--preset--color--black);
		--capitola-color-button-text: var(--wp--preset--color--white);
		--capitola-color-tile-background: var(--wp--preset--color--midnight-ocean);
		--capitola-color-tile-primary: var(--wp--preset--color--soft-peach);
		--capitola-color-tile-body: var(--wp--preset--color--white);
	}

	.--theme-geometry-light,
	[data-theme="geometry-light"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--black);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--black);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--black);
		--wp--custom--forms--label--color: var(--wp--preset--color--black);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--black);
		--capitola-color-body: var(--wp--preset--color--black);
		--capitola-color-background: var(--wp--preset--color--white);
		--capitola-color-accent: var(--wp--preset--color--ocean-depth);
		--capitola-color-headline: var(--wp--preset--color--ocean-depth);
		--capitola-color-link: var(--wp--preset--color--ocean-depth);
		--capitola-color-link-hover: var(--wp--preset--color--black);
		--capitola-color-button: var(--wp--preset--color--firebrick);
		--capitola-color-button-text: var(--wp--preset--color--white);
		--capitola-color-tile-background: var(--wp--preset--color--ocean-depth);
		--capitola-color-tile-primary: var(--wp--preset--color--vanilla-lace);
		--capitola-color-tile-body: var(--wp--preset--color--white);
	}

	.--theme-geometry,
	[data-theme="geometry"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--white);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--white);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--white);
		--wp--custom--forms--label--color: var(--wp--preset--color--white);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--white);
		--capitola-color-background: var(--wp--preset--color--ocean-depth);
		--capitola-color-accent: var(--wp--preset--color--vanilla-lace);
		--capitola-color-headline: var(--wp--preset--color--vanilla-lace);
		--capitola-color-link: var(--wp--preset--color--vanilla-lace);
		--capitola-color-link-hover: var(--wp--preset--color--white);
		--capitola-color-button: var(--wp--preset--color--vanilla-lace);
		--capitola-color-body: var(--wp--preset--color--white);
		--capitola-color-button-text: var(--wp--preset--color--black);
		--capitola-color-tile-background: var(--wp--preset--color--vanilla-lace);
		--capitola-color-tile-primary: var(--wp--preset--color--ocean-depth);
		--capitola-color-tile-body: var(--wp--preset--color--black);
	}

	.--theme-salmon-light,
	[data-theme="salmon-light"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--black);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--black);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--black);
		--wp--custom--forms--label--color: var(--wp--preset--color--black);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--black);
		--capitola-color-body: var(--wp--preset--color--black);
		--capitola-color-background: var(--wp--preset--color--white);
		--capitola-color-accent: var(--wp--preset--color--olive-shade);
		--capitola-color-headline: var(--wp--preset--color--olive-shade);
		--capitola-color-link: var(--wp--preset--color--olive-shade);
		--capitola-color-link-hover: var(--wp--preset--color--black);
		--capitola-color-button: var(--wp--preset--color--olive-shade);
		--capitola-color-button-text: var(--wp--preset--color--white);
		--capitola-color-tile-background: var(--wp--preset--color--olive-shade);
		--capitola-color-tile-primary: var(--wp--preset--color--golden-sand);
		--capitola-color-tile-body: var(--wp--preset--color--white);
	}

	.--theme-salmon,
	[data-theme="salmon"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--white);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--white);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--white);
		--wp--custom--forms--label--color: var(--wp--preset--color--white);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--white);
		--capitola-color-background: var(--wp--preset--color--olive-shade);
		--capitola-color-accent: var(--wp--preset--color--golden-sand);
		--capitola-color-headline: var(--wp--preset--color--golden-sand);
		--capitola-color-link: var(--wp--preset--color--golden-sand);
		--capitola-color-link-hover: var(--wp--preset--color--white);
		--capitola-color-button: var(--wp--preset--color--golden-sand);
		--capitola-color-body: var(--wp--preset--color--white);
		--capitola-color-button-text: var(--wp--preset--color--black);
		--capitola-color-tile-background: var(--wp--preset--color--golden-sand);
		--capitola-color-tile-primary: var(--wp--preset--color--olive-shade);
		--capitola-color-tile-body: var(--wp--preset--color--black);
	}

	// keep this last to override listings image col
	.--theme-image-overlay {
		--capitola-color-body: var(--wp--preset--color--white);
		--capitola-color-accent: var(--wp--preset--color--white);
		--capitola-color-headline: var(--wp--preset--color--white);
		--capitola-color-link: var(--wp--preset--color--white);
		--capitola-color-link-hover: var(--wp--preset--color--white);
		--capitola-color-button: var(--wp--preset--color--white);
		--capitola-color-button-text: var(--wp--preset--color--white);
	}
}
