@use "@capitola/styles/abstracts" as *;

:root {
	--capitola-overlayOpacity: 0.5;

	--capitola-color-background: var(--wp--preset--color--white);
	--capitola-color-body: var(--wp--preset--color--charcoal);
	--capitola-color-headline: var(--wp--preset--color--charcoal);
	--capitola-color-link: var(--wp--preset--color--cyber-blue);
	--capitola-color-link-hover: var(--wp--preset--color--slate-blue);
	--capitola-color-accent: var(--wp--preset--color--charcoal);
	--capitola-color-button: var(--wp--preset--color--charcoal);
	--capitola-color-button-text: var(--wp--preset--color--white);

	--capitola-color-tile-background: var(--wp--preset--color--pearl);
	--capitola-color-tile-body: var(--wp--preset--color--charcoal);
	--capitola-color-tile-primary: var(--wp--preset--color--charcoal);

	--capitola-color-contrast-background: var(--wp--preset--color--charcoal);
	--capitola-color-contrast-body: var(--wp--preset--color--pearl);

	.--theme-charcoal-bg,
	[data-theme="charcoal-bg"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--pearl);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--pearl);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--pearl);
		--wp--custom--forms--label--color: var(--wp--preset--color--pearl);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--pearl);

		--capitola-color-background: var(--wp--preset--color--charcoal);
		--capitola-color-body: var(--wp--preset--color--pearl);
		--capitola-color-accent: var(--wp--preset--color--pearl);
		--capitola-color-headline: var(--wp--preset--color--pearl);
		--capitola-color-link: var(--wp--preset--color--glacial-gray);
		--capitola-color-link-hover: var(--wp--preset--color--pearl);
		--capitola-color-button: var(--wp--preset--color--pearl);
		--capitola-color-button-text: var(--wp--preset--color--charcoal);

		--capitola-color-tile-background: var(--wp--preset--color--pearl);
		--capitola-color-tile-primary: var(--wp--preset--color--charcoal);
		--capitola-color-tile-body: var(--wp--preset--color--charcoal);

		--capitola-color-contrast-background: var(--wp--preset--color--pearl);
		--capitola-color-contrast-body: var(--wp--preset--color--charcoal);
		color: var(--wp--preset--color--pearl);
	}

	.--theme-slate-blue-hl,
	[data-theme="slate-blue-hl"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--charcoal);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--charcoal);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--charcoal);
		--wp--custom--forms--label--color: var(--wp--preset--color--charcoal);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--charcoal);

		--capitola-color-background: var(--wp--preset--color--white);
		--capitola-color-body: var(--wp--preset--color--charcoal);
		--capitola-color-headline: var(--wp--preset--color--slate-blue);
		--capitola-color-link: var(--wp--preset--color--cyber-blue);
		--capitola-color-link-hover: var(--wp--preset--color--slate-blue);
		--capitola-color-accent: var(--wp--preset--color--slate-blue);
		--capitola-color-button: var(--wp--preset--color--slate-blue);
		--capitola-color-button-text: var(--wp--preset--color--white);

		--capitola-color-tile-background: var(--wp--preset--color--pearl);
		--capitola-color-tile-body: var(--wp--preset--color--charcoal);
		--capitola-color-tile-primary: var(--wp--preset--color--slate-blue);

		--capitola-color-contrast-background: var(--wp--preset--color--charcoal);
		--capitola-color-contrast-body: var(--wp--preset--color--pearl);
		color: var(--wp--preset--color--charcoal);
	}

	.--theme-ice-gray-bg,
	[data-theme="ice-gray-bg"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--charcoal);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--charcoal);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--charcoal);
		--wp--custom--forms--label--color: var(--wp--preset--color--charcoal);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--charcoal);

		--capitola-color-background: var(--wp--preset--color--ice-gray);
		--capitola-color-body: var(--wp--preset--color--charcoal);
		--capitola-color-headline: var(--wp--preset--color--charcoal);
		--capitola-color-link: var(--wp--preset--color--slate-blue);
		--capitola-color-link-hover: var(--wp--preset--color--cyber-blue);
		--capitola-color-accent: var(--wp--preset--color--charcoal);
		--capitola-color-button: var(--wp--preset--color--charcoal);
		--capitola-color-button-text: var(--wp--preset--color--white);

		--capitola-color-tile-background: var(--wp--preset--color--pearl);
		--capitola-color-tile-body: var(--wp--preset--color--charcoal);
		--capitola-color-tile-primary: var(--wp--preset--color--charcoal);

		--capitola-color-contrast-background: var(--wp--preset--color--charcoal);
		--capitola-color-contrast-body: var(--wp--preset--color--pearl);
		color: var(--wp--preset--color--charcoal);
	}

	.--theme-pearl-bg,
	[data-theme="pearl-bg"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--charcoal);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--charcoal);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--charcoal);
		--wp--custom--forms--label--color: var(--wp--preset--color--charcoal);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--charcoal);

		--capitola-color-background: var(--wp--preset--color--pearl);
		--capitola-color-body: var(--wp--preset--color--charcoal);
		--capitola-color-headline: var(--wp--preset--color--slate-blue);
		--capitola-color-link: var(--wp--preset--color--cyber-blue);
		--capitola-color-link-hover: var(--wp--preset--color--slate-blue);
		--capitola-color-accent: var(--wp--preset--color--slate-blue);
		--capitola-color-button: var(--wp--preset--color--slate-blue);
		--capitola-color-button-text: var(--wp--preset--color--white);

		--capitola-color-tile-background: var(--wp--preset--color--charcoal);
		--capitola-color-tile-body: var(--wp--preset--color--white);
		--capitola-color-tile-primary: var(--wp--preset--color--white);

		--capitola-color-contrast-background: var(--wp--preset--color--charcoal);
		--capitola-color-contrast-body: var(--wp--preset--color--pearl);
		color: var(--wp--preset--color--charcoal);
	}

	.--theme-slate-blue-bg,
	[data-theme="slate-blue-bg"] {
		--wp--custom--forms--field--color: var(--wp--preset--color--pearl);
		--wp--custom--forms--field--border-color: var(--wp--preset--color--pearl);
		--wp--custom--forms--field--focus-shadow-color: var(--wp--preset--color--pearl);
		--wp--custom--forms--label--color: var(--wp--preset--color--pearl);
		--wp--custom--forms--radio-cb--label--color: var(--wp--preset--color--pearl);

		--capitola-color-background: var(--wp--preset--color--slate-blue);
		--capitola-color-body: var(--wp--preset--color--pearl);
		--capitola-color-headline: var(--wp--preset--color--pearl);
		--capitola-color-link: var(--wp--preset--color--glacial-blue);
		--capitola-color-link-hover: var(--wp--preset--color--pearl);
		--capitola-color-accent: var(--wp--preset--color--pearl);
		--capitola-color-button: var(--wp--preset--color--pearl);
		--capitola-color-button-text: var(--wp--preset--color--slate-blue);

		--capitola-color-tile-background: var(--wp--preset--color--charcoal);
		--capitola-color-tile-body: var(--wp--preset--color--pearl);
		--capitola-color-tile-primary: var(--wp--preset--color--pearl);

		--capitola-color-contrast-background: var(--wp--preset--color--pearl);
		--capitola-color-contrast-body: var(--wp--preset--color--charcoal);
		color: var(--wp--preset--color--pearl);
	}

	// keep this last to override listings image col
	.--theme-image-overlay {
		--capitola-color-body: var(--wp--preset--color--white);
		--capitola-color-accent: var(--wp--preset--color--white);
		--capitola-color-headline: var(--wp--preset--color--white);
		--capitola-color-link: var(--wp--preset--color--white);
		--capitola-color-link-hover: var(--wp--preset--color--white);
		--capitola-color-button: var(--wp--preset--color--white);
		--capitola-color-button-text: var(--wp--preset--color--white);
		color: var(--wp--preset--color--white);
	}
}
