@use "../../styles/abstracts" as *;

.wp-block-cwps-link-list {
	display: flex;
	flex-flow: column;
	list-style: none;
	align-items: flex-start;
	margin: var(--cwps-open-content-spacing) 0 0;
	padding: 0;

	&__link {
		@include hyperlink;
	}

	.editor-styles-wrapper & {
		padding: 0;
	}
}
