@use "../../styles/abstracts" as *;

.wp-block-capitola-anchor-nav {
	position: sticky;
	background: var(--capitola-color-background);
	top: calc(var(--capitola-header-height) + var(--wp-admin--admin-bar--height, 0px));
	z-index: 1;

	&__list {
		display: flex;
		position: relative;
		height: var(--capitola-anchor-menu-height);
		gap: var(--wp--custom--spacing--small);
		align-items: center;
		list-style: none;
		margin-block: 0;
		overflow-x: scroll;
		padding-inline: var(--wp--custom--wide-size-padding);

		&::-webkit-scrollbar {
			height: 8px;
			background: transparent;
			padding-bottom: 2px;
		}

		&::-webkit-scrollbar-thumb {
			border: {
				left: var(--wp--custom--wide-size-margin) solid transparent;
				right: var(--wp--custom--wide-size-margin) solid transparent;
			}
			background: {
				image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, var(--capitola-color-link) 40%, var(--capitola-color-link) 60%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 60%);
				clip: padding-box;
			}
			transition: background-image var(--wp--custom--transitions--default);

			&:hover {
				background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, var(--capitola-color-link) 30%, var(--capitola-color-link) 70%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 70%);
			}
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		// Firefox
		// scrollbar-width: thin; // "auto", "thin", or "none"
		// scrollbar-color: red;
	}

	&__item {
		display: flex;
	}

	&__link {
		@include hyperlink;
		font-weight: var(--wp--custom--font-weight--bold);
		text-decoration: none;
		white-space: nowrap !important;
		margin-top: 4px;

		&.--current {
			color: var(--capitola-color-body);
		}
	}
}
