@use "../../styles/abstracts" as *;

.cwps-repeater-controls {
	display: none;
	position: absolute;
	gap: 16px;
	background-color: var(--wp--preset--color--white);
	padding: var(--cwps-spacing-xsmall);
	top: 0;
	left: 0;
	right: 0;

	*:hover > & {
		display: flex;
	}

	&__button {
		height: 16px;
		width: 16px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all $transition;

		&:hover {

			.dashicon {
				color: #000 !important;
			}
		}

		.dashicon {
			cursor: pointer;
		}

		&.--delete {

			.dashicon {
				color: #d43131;
			}
		}

		&.--up,
		&.--down,
		&.--image {

			.dashicon {
				color: rgb(0, 124, 186);
			}
		}

		&.--add-before,
		&.--add-after {
			position: relative;
			width: 28px;

			&::before {
				content: "";
				display: block;
				position: absolute;
				background-color: rgb(0, 124, 186);
				mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"%3E%3Cpath d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/%3E%3C/svg%3E');
				mask-repeat: no-repeat;
				height: 100%;
				left: 0;
				aspect-ratio: 1;
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				background-color: rgb(0, 124, 186);
				mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"%3E%3Cpath d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/%3E%3C/svg%3E');
				mask-repeat: no-repeat;
				height: 100%;
				right: 0;
				aspect-ratio: 1;
			}

			&.--vertical {
				width: 32px;

				&::before {
					mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"%3E%3Cpath d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/%3E%3C/svg%3E');
				}
			}

			&:hover {

				&::before,
				&::after {
					background-color: #000;
				}
			}
		}

		&.--add-after {
			transform: rotate(180deg);
		}
	}
}
