<!-- wp:template-part {"slug":"header","theme":"santacruzdivers","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:cwps/single-product-details {"colorTheme":"summer-splash","showMSRP":false} /-->

    <!-- wp:cwps/product-feed {"colorTheme":"deep-blue","revealAnimation":"fadeup","listLayout":"sidescroll","queryType":"upsells","titleTag":"div"} -->
    <!-- wp:cwps/body-text {"headline":"You Might Also Consider"} /-->
    <!-- /wp:cwps/product-feed -->

    <!-- wp:cwps/product-feed {"colorTheme":"geometry","revealAnimation":"fadeup","listLayout":"sidescroll","queryType":"related","titleTag":"div"} -->
    <!-- wp:cwps/body-text {"headline":"Related Products"} /-->
    <!-- /wp:cwps/product-feed --></main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"santacruzdivers","tagName":"footer"} /-->
