<!-- wp:template-part {"slug":"header","theme":"santacruzdivers","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:cwps/post-hero /--></div>
    <!-- /wp:group -->

    <!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /--></main>
    <!-- /wp:group -->

    <!-- wp:cwps/related-posts -->
    <!-- wp:cwps/body-text /-->
    <!-- /wp:cwps/related-posts -->

    <!-- wp:template-part {"slug":"footer","theme":"santacruzdivers","tagName":"footer"} /-->
