<!-- wp:template-part {"slug":"header","theme":"santacruzdivers","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:cwps/event-hero /-->

    <!-- wp:cwps/social-shares /-->

    <!-- wp:post-content {"className":"classic-editor-content","layout":{"type":"constrained"}} /-->

    <!-- wp:cwps/event-map {"align":"wide","editorPreview":true} /-->

    <!-- wp:cwps/related-posts -->
    <!-- wp:cwps/body-text {"headline":"Related Events"} /-->
    <!-- /wp:cwps/related-posts --></main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"santacruzdivers","tagName":"footer"} /-->
