<!-- wp:template-part {"slug":"header","theme":"santacruzdivers","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->

  <!-- wp:group {"align":"full","layout":{"inherit":true,"type":"constrained"}} -->
  <div class="wp-block-group alignfull"><!-- wp:cwps/related-posts /--></div>
  <!-- /wp:group --></main>
  <!-- /wp:group -->

  <!-- wp:template-part {"slug":"footer","theme":"santacruzdivers","tagName":"footer"} /-->
