<!-- wp:template-part {"slug":"header","theme":"santacruzdivers"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

    <!-- wp:cwps/related-posts {"colorTheme":"deep-blue","revealAnimation":"fadeup","eyebrow":"Vestibulum purus","headline":"Related Staff","cta":{"title":"Sed cursus","url":"/travel-archive/monterey-new/","target":null}} -->
    <!-- wp:paragraph {"placeholder":"Intro..."} -->
    <p>Donec venenatis vulputate lorem. Praesent congue erat at massa. Pellentesque ut neque. Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl, id fringilla neque ante vel mi..</p>
    <!-- /wp:paragraph -->
    <!-- /wp:cwps/related-posts -->

    <!-- wp:cwps/term-feed {"colorTheme":"summer-splash","revealAnimation":"fadeup","eyebrow":"Class aptent taciti","headline":"Our Departments","cta":{"title":"Fusce pharetra","url":"/travel-archive/monterey-new/","target":null},"taxonomy":"department"} -->
    <!-- wp:paragraph {"placeholder":"Intro..."} -->
    <p>Morbi ac felis. Aenean imperdiet. Quisque id mi. Vivamus consectetuer hendrerit lacus. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.</p>
    <!-- /wp:paragraph -->
    <!-- /wp:cwps/term-feed --></main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"santacruzdivers"} /-->
