.capitola-sidebar-link-control {

	.block-editor-url-input {
		min-width: unset;
	}

	// fixes the width and margins in a link control when in a sidebar
	.block-editor-link-control {
		min-width: 100%;

		&__preview {
			padding-inline: 0;
		}

		&__field {
			margin: {
				inline: 0;
				top: 0;
			}
		}

		&__tools {
			padding-inline: 0;
		}

		&__search-results {
			padding-inline: 0;
		}

		&__search-item {
			padding-inline: 0;

			&.is-current {
				padding-top: 0;
			}

			&.is-preview {

				.block-editor-link-control__search-item-header {
					flex-basis: 100%;
					flex-shrink: 0;
				}
			}

			&-top {
				flex-wrap: wrap;
			}

			&-action {
				margin-left: unset;
			}
		}
	}
}
