@use "@capitola/styles/abstracts" as *;

.capitola-repeater-controls {
	display: none;
	position: absolute;
	gap: 8px;
	background-color: #fff;
	padding: 8px;
	top: 0;
	left: 0;
	right: 0;

	*:hover > & {
		display: flex;
	}
}
