@use "../../styles/abstracts" as *;

.wp-block-capitola-full-width-slider {
	@include block-outer-wrap;

	&:has(.--sticky) {
		overflow: unset;
	}

	&__width {
		@include block-inner-wrap;

		@include mq("medium") {
			display: grid;
			grid-template-columns: calc(50% - (var(--wp--custom--spacing--block-padding) / 2)) calc(50% - (var(--wp--custom--spacing--block-padding) / 2));
			align-items: center;

			&:has(.wp-block-capitola-body-text.--justify-top) {
				align-items: start;
			}

			&.--has-right-intro {

				.wp-block-capitola-body-text {
					grid: {
						row: 1;
						column: 2;
					}
				}
			}
		}
	}

	&__sliders {
		@include mq("wide") {

			.--has-right-intro & {
				grid: {
					row: 1;
					column: 1;
				}
			}

			&.--sticky {
				position: sticky;
				top: calc(var(--capitola-header-height) + var(--wp--custom--spacing--block-padding) + var(--wp-admin--admin-bar--height, 0px));
			}
		}
	}

	&__main {
		min-width: 0;

		.swiper {
			--swiper-button-size: 32px;
			position: relative;
			touch-action: pan-y;
			overflow: hidden;

			&.swiper-fade {

				.swiper-slide {
					pointer-events: none;

					&.swiper-slide-active {
						pointer-events: auto;
					}
				}
			}

			&.--has-small-radius {
				border-radius: $radius-med;
			}

			&.--has-medium-radius {
				border-radius: $radius-large;
			}

			@include swiper-button;
		}

		.swiper-wrapper {
			display: flex;
			position: relative;
			transform: translateZ(0);
			transform-style: preserve-3d;
			transition-property: transform;
			transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
		}

		.swiper-slide {
			display: flex;
			position: relative;
			transition: unset;
			flex-flow: column;
			flex: 0 0 100%;
			height: auto;
			margin: 0;
			justify-content: center;
			align-items: center;

			&.--16-9 {
				aspect-ratio: 16/9;
			}

			&.--21-9 {
				aspect-ratio: 21/9;
			}

			&.--3-2 {
				aspect-ratio: 3/2;
			}

			&.--4-3 {
				aspect-ratio: 4/3;
			}

			img {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;

				&.--no-crop {
					height: unset;
					object-fit: unset;
				}
			}
		}

		.swiper-pagination {
			display: flex;
			width: 100%;
			text-align: center;
			transition: opacity $transition;
			justify-content: center;
			gap: var(--wp--custom--spacing--small);
			margin-top: var(--wp--custom--spacing--small);

			&-bullet {
				width: 24px;
				height: 24px;
				border-radius: 50%;
				border: 1px solid var(--capitola-color-button);
				cursor: pointer;
				transition: box-shadow $transition;

				&-active {
					opacity: 1;
					background: var(--capitola-color-button);
				}

				&:hover {
					box-shadow: 0 0 0 1px var(--capitola-color-button);
				}
			}
		}
	}

	&__slide-caption {
		@include unstyle-link;
		display: flex;
		position: absolute;
		flex-flow: column;
		align-items: center;
		inset: auto 0 0 0;
		padding:
			100px calc(min(calc((100% - 200px) / 2), calc(100% - (var(--wp--custom--spacing--gutter) * 2))) / 2)
			var(--wp--custom--spacing--medium);
		color: var(--wp--preset--color--white);
		background: linear-gradient(0deg, var(--wp--custom--opacity--solid), transparent);
		text-align: center;

		p {
			@include micro-text;
		}
	}

	&__slide-cta {
		justify-content: center;
		margin-top: var(--wp--custom--spacing--small);
	}

	&__thumbs {
		display: none;

		@include mq("medium") {
			display: block;
		}

		.swiper {
			touch-action: pan-y;
			overflow: hidden;
			margin-top: var(--wp--custom--spacing--xsmall);
		}

		.swiper-wrapper {
			display: flex;
		}

		.swiper-slide {
			position: relative;
			flex: 1 0 20%;
			aspect-ratio: 1;
			opacity: 0.4;
			cursor: pointer;

			&.swiper-slide-thumb-active {
				opacity: 1;
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
