@use "../../styles/abstracts" as *;

.wp-block-cwps-image-link-grid-block {
	@include block-outer-wrap;

	&__width {
		@include block-inner-wrap;
	}

	.wp-block-cwps-image-link-grid__width {
		width: 100%;
	}
}

.wp-block-cwps-image-link-grid {

	&__width {
		container: {
			name: link-grid;
			type: inline-size;
		}
	}

	&__grid {
		display: grid;
		grid: auto-flow minmax(200px, min-content) / 1fr;

		@media (hover: hover) {
			grid-auto-rows: 300px;
		}

		@container link-grid (width > 599px) {
			grid-template-columns: 1fr 1fr;
		}

		@container link-grid (width > 599px) and (width < 900px) {

			&.--odd-children {

				.wp-block-cwps-image-link-grid-item:first-child {
					grid-column: 1 / 3;
				}
			}
		}

		@container link-grid (width > 899px) {
			grid-template-columns: 1fr 1fr 1fr;

			&.--layout-3-col {

				&.--two-thirds-first {

					.wp-block-cwps-image-link-grid-item:first-child {
						grid-column: 1 / 3;
					}
				}

				&.--two-thirds-second {

					.wp-block-cwps-image-link-grid-item:nth-child(4) {
						grid-column: 2 / 4;
					}
				}
			}
		}

		@container link-grid (width > 899px) and (width < 1200px) {

			&.--layout-4-col {

				&.--two-thirds-first {

					.wp-block-cwps-image-link-grid-item:first-child {
						grid-column: 1 / 3;
					}
				}

				&.--two-thirds-second {

					.wp-block-cwps-image-link-grid-item:nth-child(4) {
						grid-column: 2 / 4;
					}
				}
			}
		}

		@container link-grid (width > 1199px) {

			&.--layout-4-col {
				grid-template-columns: 1fr 1fr 1fr 1fr;

				&.--one-half-first {

					.wp-block-cwps-image-link-grid-item:first-child {
						grid-column: 1 / 3;
					}
				}

				&.--one-half-second {

					.wp-block-cwps-image-link-grid-item:nth-child(2) {
						grid-column: 3 / 5;
					}
				}

				&.--one-half-third {

					.wp-block-cwps-image-link-grid-item:nth-child(3) {
						grid-column: 1 / 3;
					}
				}
			}
		}

		&.--grid-gap {
			gap: var(--cwps-spacing-xsmall);
		}
	}
}

.wp-block-cwps-image-link-grid-item {
	@include unstyle-link;
	display: flex;
	position: relative;
	overflow: hidden;
	text-align: center;
	flex-flow: column;
	justify-content: center;
	align-items: center;

	@media (hover: hover) {

		&:hover,
		&:focus {

			.wp-block-cwps-image-link-grid-item__opacity-layer {
				transition: opacity $transition;
				opacity: calc(var(--cwps-overlayOpacity) + 0.2);
			}

			.wp-block-cwps-image-link-grid-item__text-content {
				transform: translateY(-100%);
			}
		}
	}

	&__opacity-layer {
		content: "";
		position: absolute;
		inset: 0;
		background: var(--wp--custom--opacity--solid);
		opacity: var(--cwps-overlayOpacity);
	}

	&__text-content {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-between;
		gap: var(--cwps-spacing-medium);
		padding: var(--cwps-spacing-medium);
		min-height: 100%;

		@media (hover: hover) {
			position: absolute;
			inset: 0;
			justify-content: unset;
			transition: transform 0.5s;
			padding: 0;
			gap: unset;
		}
	}

	&__title-wrap {
		position: relative;
		text-align: center;
		align-self: center;
		width: 100%;

		@media (hover: hover) {
			display: flex;
			flex-flow: column;
			flex: 0 0 100%;
			justify-content: center;
			overflow: hidden;
			padding: var(--cwps-spacing-medium);
		}
	}

	&__excerpt-wrap {
		display: flex;
		position: relative;
		color: var(--cwps-color-body);
		flex-flow: column;
		gap: var(--cwps-spacing-small);

		@media (hover: hover) {
			display: flex;
			flex-flow: column;
			flex: 0 0 100%;
			justify-content: flex-end;
			overflow: hidden;
			padding: var(--cwps-spacing-medium);
		}
	}

	&__subtitle {
		margin: 0 0 var(--cwps-spacing-xsmall);
	}

	.wp-block-cwps-image-link-grid-item__excerpt {
		@include truncate-lines;
		@include micro-text;
		margin: 0;
	}

	&__cta {
		justify-content: center;
		align-self: center;
	}

	img {
		position: absolute;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
