@use "@capitola/styles/abstracts" as *;

.wp-block-capitola-side-image {

	&__imagewrap {

		@include mq("50-50") {

			&.--sticky {
				top: var(--wp--custom--spacing--block-padding);
			}
		}

		&:has(.components-spinner) {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.--inset-img {

		.block-editor-media-placeholder {
			display: flex;
			overflow: hidden;

			&.--full {
				position: relative;
			}
		}
	}

	.--side-bg-img {

		.block-editor-media-placeholder {
			height: 100%;

			@include mq("50-50") {
				position: absolute;
			}
		}
	}
}
