.capitola-repeater {

	&__main-flex {
		display: flex;
		flex-direction: column;
		gap: 8px;

		.--flat & {
			gap: 8px;
		}
	}

	&__inner-flex {
		display: flex;
		flex-direction: column;

		.--flat & {
			gap: 8px;
		}
	}

	&__field-wrap {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.components-panel__body {
		padding: {
			left: 0;
			right: 0;
		}

		&:not(.is-opened) {

			> .components-panel__body-title {
				margin-inline: -16px;
			}
		}

		&.is-opened {

			> .components-panel__body-title {
				margin-inline: -16px;
			}
		}
	}

	&__button-row {
		display: flex;
		gap: 8px;
	}

	&__add-button {
		margin-top: 8px;
		display: block;
	}
}
