@use "../../styles/abstracts" as *;

.cwps-repeater {

	&__main-flex {
		display: flex;
		flex-direction: column;
		gap: 8px;

		.--flat & {
			gap: 8px;
		}
	}

	&__inner-flex {
		display: flex;
		flex-direction: column;

		.--flat & {
			gap: 8px;
		}
	}

	&__field-wrap {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.components-panel__body {
		padding: {
			left: 0;
			right: 0;
		}

		&:not(.is-opened) {

			> .components-panel__body-title {
				margin: {
					left: -16px;
					right: -16px;
				}
			}
		}

		&.is-opened {

			> .components-panel__body-title {
				margin: {
					left: -16px;
					right: -16px;
				}
			}
		}
	}

	&__button-row {
		display: flex;
		gap: 16px;
	}

	&__button {
		height: 16px;
		width: 16px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all $transition;

		&:hover {
			opacity: 0.7;
		}

		.dashicon {
			cursor: pointer;
		}

		&.--delete {

			.dashicon {
				color: #d43131;
			}
		}

		&.--up,
		&.--down {

			.dashicon {
				color: rgb(0, 124, 186);
			}
		}
	}

	&__add-button {
		margin-top: 8px;
		display: block;
	}
}
