@use "@capitola/styles/abstracts" as *;

.gform {

	&_fields {
		display: grid;
		grid: {
			template-columns: repeat(12, 1fr);
			auto-rows: auto;
		}
		column-gap: 0;
		row-gap: var(--wp--custom--forms--grid--v-gap);
		margin-bottom: var(--wp--custom--forms--grid--v-gap);

		@include mq("small") {
			column-gap: var(--wp--custom--forms--grid--h-gap);
		}

		input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]) {
			@include text-field;
		}

		input[type="radio"] {
			@include radio-button;
		}

		input[type="checkbox"] {
			@include checkbox;
		}

		select {
			@include select-field;
		}

		textarea {
			@include textarea;
		}

		.wpforms-field-label {
			@include form-label;
		}
	}

	&-field-label {
		@include form-label;
	}

	&-field-label--type-inline {
		@include radio-cb-label;
	}

	&_submission_error {
		@include micro-text;
		text-transform: none;
		margin-bottom: 0;
	}

	&_button {
		@include submit-button;
	}
}

.gfield {
	grid-column: span 12;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	@include mq("small") {

		&--width-full {
			grid-column: span 12;
		}

		&--width-half {

			grid-column: span 6;
		}

		&--width-quarter {
			grid-column: span 3;
		}

		&--width-third {
			grid-column: span 4;
		}

		&--width-two-thirds {
			grid-column: span 8;
		}

		&--type-captcha {
			grid-column: span 12;
		}
	}

	&_radio,
	&_checkbox {
		display: flex;
		flex-direction: column;
		gap: var(--wp--custom--forms--radio-cb--list-gap);
	}

	&--type-choice {
		border: none;
		padding: 0;
		margin: 0;

		.gchoice {
			display: flex;
			align-items: center;
			gap: var(--wp--custom--forms--radio-cb--label--margin-left);
		}
	}

	&--type-name {
		border: none;
		padding: 0;
		margin: 0;
	}

	&--type-honeypot {
		display: none !important;
		position: absolute !important;
		left: -9000px;
	}

	&_label {
		@include form-label;
	}

	&.hidden_label {

		.gfield_label {
			display: none;
		}
	}


	&_required {

		&_asterisk {
			color: $error_color;
			margin-left: var(--wp--custom--spacing--xxsmall);
		}

	}

	&_validation_message {
		@include micro-text;
		text-transform: none;
		color: $error_color;
	}

	&_error {
		border-color: $error_color;
	}

	input,
	select {

		&.small {
			width: 200px;
			max-width: 100%;
		}

		&.medium {
			width: 400px;
			max-width: 100%;
		}

		&.large {
			width: 100%;
		}
	}

}

.ginput_complex {
	display: flex;
	flex-flow: row wrap;

	.gform-grid-col {
		flex: 1;
		margin-left: var(--wp--custom--spacing--small);

		&.name_first {
			margin-left: 0;
		}
	}

	input {
		width: 100%;
	}
}
