@use "../abstracts" as *;

:root {
	--capitola-p-lineHeight: 1.5;
	--capitola-p-fontWeight: var(--wp--custom--font-weight--normal);

	--capitola-button-fontSize: var(--capitola-fluid-16-18);

	//headlines
	--capitola-hl-lineHeight: 1;
	--capitola-hl-fontWeight: var(--wp--custom--font-weight--bold);

	--capitola-excerpt-lines: 4;
}
