.capitola-map-control {

	&__fields {
		position: relative;
	}

	&__address-input {

		.components-text-control__input,
		.components-text-control__input[type="text"].is-next-40px-default-size {
			padding-right: 28px;

			&:read-only {
				opacity: 0.6;
				cursor: default;
			}
		}
	}

	&__readonly {
		border: 1px solid #94949499;
		border-radius: 2px;
		box-shadow: 0 0 0 #0000;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
		padding: 8px;
	}

	&__readonly-text {
		white-space: nowrap;
		overflow: hidden;
		cursor: default;
	}

	&__clear-button {
		padding: 0;
	}

	&__map-outer-wrap {
		position: relative;
		width: 100%;
		height: 200px;
		margin-top: 8px;
	}

	&__map-wrap {
		width: 100%;
		height: 100%;
		background: #eee;
		border-radius: 2;
	}

	&__map-placeholder {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background: #eee;
		border-radius: 2;
	}
}
