@use "@capitola/styles/abstracts" as *;

.wp-block-capitola-detailed-links {
	@include block-outer-wrap;

	&__width {
		@include block-inner-wrap-50-50;
	}
}

.wp-block-capitola-detailed-links-list {

	@include mq("50-50") {
		flex: 0 1 50%;
	}
}

.wp-block-capitola-detailed-links-item {
	display: flex;
	flex-flow: row;
	align-items: flex-start;
	gap: var(--wp--custom--spacing--small);
	padding-bottom: var(--wp--custom--spacing--small);
	margin-top: var(--wp--custom--spacing--small);
	border-bottom: 1px solid var(--capitola-color-accent);

	&:has(a:hover),
	&:has(a:focus),
	&:has(a:active) {

		.wp-block-capitola-detailed-links-item__image img {
			scale: 1.2;
		}
	}

	&:first-of-type {
		margin-top: 0;
	}

	&__image {
		position: relative;
		flex: 0 0 110px;
		aspect-ratio: 3/2;
		margin: 0;
		overflow: hidden;
		border-radius: $radius-small;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: scale var(--wp--custom--transitions--default);
		}
	}

	&__body {
		display: flex;
		flex-flow: column;
		gap: var(--wp--custom--spacing--xsmall);
		flex: 1 0 0;
	}

	&__title {
		@include unstyle-link;
		display: flex;
		gap: var(--wp--custom--spacing--xsmall);
		width: 100%;
		align-items: flex-start;
		justify-content: space-between;
		font-weight: var(--wp--custom--font-weight--bold);
		color: var(--capitola-color-link);
		transition: color var(--wp--custom--transitions--default);

		&::after {
			content: "";
			height: 1em;
			flex: 0 0 30px;
			mask: url(#{$image_path}arrows/fa-arrow-right.svg) center right / contain no-repeat;
			background: var(--capitola-color-link);
			transition: background-color var(--wp--custom--transitions--default), scale var(--wp--custom--transitions--default);
		}

		&:hover,
		&:active,
		&:focus {
			color: var(--capitola-color-link-hover);

			&::after {
				background: var(--capitola-color-link-hover);
				scale: 1.1;
			}
		}
	}

	.wp-block-capitola-detailed-links-item__excerpt {
		@include truncate-lines;
		margin: 0;
	}
}

